<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://thuclfc.gitlab.io/bonbon/build/home.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
        </ul>
    </div>
    <div class="profile container">
        <div class="profile__banner">
            <img src="./assets/img/banner-profile.jpg" alt="">
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                {% include "../share/profile-nav.html" %}
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="bank_acount">
                    <div class="flex-lc mb-20">
                        <h4>Tài khoản ngân hàng của tôi</h4>
                        <a href="" title="" class="btn_ty3 btn_add_account ml-auto">Thêm tài khoản</a>
                    </div>
                    <div class="account flex">
                        <div class="account__img flex-center"><img src="./assets/img/img-bank.png" alt=""></div>
                        <div class="account__content">
                            <h5 class="flex-lc">VCB - NH TMCP NGOAI THUONG VIET NAM <span class="accuracy"></span><span class="df">Mặc định</span></h5>
                            <p>Trần Phương Thảo - *9985</p>
                            <p>Chi nhánh: Chi nhánh Thanh Xuân</p>
                        </div>
                        <div class="account__action flex-lc ml-auto">
                            <a href="" class="btn_remove">Xóa</a>
                            <a href="" class="btn_ty4 btn_set_defalt flex-center set">Thiết lập mặc định</a>
                        </div>
                    </div>
                    <div class="account flex">
                        <div class="account__img flex-center"><img src="./assets/img/img-bank.png" alt=""></div>
                        <div class="account__content">
                            <h5 class="flex-lc">VCB - NH TMCP NGOAI THUONG VIET NAM <span class="accuracy"></span></h5>
                            <p>Trần Phương Thảo - *9985</p>
                            <p>Chi nhánh: Chi nhánh Thanh Xuân</p>
                        </div>
                        <div class="account__action flex-lc ml-auto">
                            <a href="" class="btn_remove">Xóa</a>
                            <a href="" class="btn_ty4 btn_set_defalt flex-center set">Thiết lập mặc định</a>
                        </div>
                    </div>
                    <div class="account flex">
                        <div class="account__img flex-center"><img src="./assets/img/img-bank.png" alt=""></div>
                        <div class="account__content">
                            <h5 class="flex-lc">VCB - NH TMCP NGOAI THUONG VIET NAM <span class="not_accuracy">Chưa xác thực</span></h5>
                            <p>Trần Phương Thảo - *9985</p>
                            <p>Chi nhánh: Chi nhánh Thanh Xuân</p>
                        </div>
                        <div class="account__action flex-lc ml-auto">
                            <a href="" class="btn_remove">Xóa</a>
                            <a href="" class="btn_ty4 btn_set_defalt flex-center set">Thiết lập mặc định</a>
                        </div>
                    </div>
                </div>
                <div class="bank_acount">
                    <div class="flex-lc mb-20">
                        <h4>Thẻ tín dụng/ghi nợ</h4>
                        <a href="" title="" class="btn_ty3 btn_add_account ml-auto">Thêm tài khoản</a>
                    </div>
                    <div class="account flex">
                        <div class="account__img flex-center"><img src="./assets/img/img-bank.png" alt=""></div>
                        <div class="account__content">
                            <h5 class="flex-lc">Thẻ Visa *9986<span class="accuracy"></span></h5>
                            <p>Chủ thẻ: Trần Phương Thảo </p>
                            <p>Ngày hết hạn</p>
                        </div>
                        <div class="account__action flex-lc ml-auto">
                            <a href="" class="btn_remove">Xóa</a>
                            <a href="" class="btn_ty4 btn_set_defalt flex-center set">Thiết lập mặc định</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>