<main>
    <div class="cart">
        <div class="cart__header">
            <div class="container">
                <div class="flex-lc">
                    <h4 class="flex-lc"><i class="icon icon-cart"></i> Giỏ hàng</h4>
                    <div class="space"></div>
                    <div class="address flex-lc">
                        <h5 class="flex-lc"><i class="icon icon-transport"></i>Giao tới địa chỉ: </h5>
                        <div class="address__info">
                            <span>Phương Thảo - 0958xxx996</span>
                            <select name="">
                                <option>74 Doãn Kế Thiện, Cầu Giấy, HN</option>
                                <option>Hà Nội</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cart__head flex">
                <div class="cl-1">Sản phẩm</div>
                <div class="cl-2">Giá tiền</div>
                <div class="cl-3">Số lượng</div>
                <div class="cl-4">Thành tiền</div>
                <div class="cl-5"></div>
            </div>
            <div class="cart__list">
                <div class="header flex-lc">
                    <h2 class="brand flex-lc">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <span class="checked"></span>
                        </label>
                        ROLL by TIRES
                    </h2>
                    <a href="" class="btn_chat flex-center"><i class="icon icon-chat"></i> Chat</a>
                </div>
                <div class="item flex-lc">
                    <div class="cl-1 flex-lc">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <span class="checked"></span>
                        </label>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__content">
                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                <p>Lốp không xăm / Lốp bố thép</p>
                            </div>
                        </div>
                        <div class="type">Loại: <span>Lốp 11 Inch - Hoa gai A</span></div>
                    </div>
                    <div class="cl-2">
                        1.080.000đ
                    </div>
                    <div class="cl-3">
                        <div class="amount flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1">
                            <a href="javascript:void(0)" class="add_amount">+</a>
                        </div>
                    </div>
                    <div class="cl-4">
                        <span class="price">10.800.000đ</span>
                    </div>
                    <div class="cl-5">
                        <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi">Xóa</a>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="cl-1 flex-lc">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <span class="checked"></span>
                        </label>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__content">
                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                <p>Lốp không xăm / Lốp bố thép</p>
                            </div>
                        </div>
                        <div class="type">Loại: <span>Lốp 11 Inch - Hoa gai A</span></div>
                    </div>
                    <div class="cl-2">
                        1.080.000đ
                    </div>
                    <div class="cl-3">
                        <div class="amount flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1">
                            <a href="javascript:void(0)" class="add_amount">+</a>
                        </div>
                    </div>
                    <div class="cl-4">
                        <span class="price">10.800.000đ</span>
                    </div>
                    <div class="cl-5">
                        <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi">Xóa</a>
                    </div>
                </div>
            </div>
            <div class="cart__list">
                <div class="header flex-lc">
                    <h2 class="brand flex-lc">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <span class="checked"></span>
                        </label>
                        Michellin Việt Nam
                    </h2>
                    <a href="" class="btn_chat flex-center"><i class="icon icon-chat"></i> Chat</a>
                </div>
                <div class="item flex-lc">
                    <div class="cl-1 flex-lc">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <span class="checked"></span>
                        </label>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__content">
                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                <p>Lốp không xăm / Lốp bố thép</p>
                            </div>
                        </div>
                        <div class="type">Loại: <span>Lốp 11 Inch - Hoa gai A</span></div>
                    </div>
                    <div class="cl-2">
                        1.080.000đ
                    </div>
                    <div class="cl-3">
                        <div class="amount flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1">
                            <a href="javascript:void(0)" class="add_amount">+</a>
                        </div>
                    </div>
                    <div class="cl-4">
                        <span class="price">10.800.000đ</span>
                    </div>
                    <div class="cl-5">
                        <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi">Xóa</a>
                    </div>
                </div>
            </div>
            <div class="product_like">
                <h2>Có thể bạn cũng thích</h2>
                <div class="product_like_list">
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment">
            <div class="payment__item">
                <div class="container flex-lc">
                    <label class="checkbox">
                        <input type="checkbox" checked>
                        <span class="checked"></span>
                        CHỌN TẤT CẢ sản phẩm (3)
                    </label>
                    <div class="voucher flex-lc ml-auto">
                        <p><i class="icon icon-voucher"></i> Bonbon Voucher:</p>
                        <a href="javascript:;" class="btn_voucher" data-toggle="modal" data-target="#modal_voucher">Chọn Voucher</a>
                    </div>
                </div>
            </div>
            <div class="container flex-lc pt-20 pb-30">
                <a href="https://thuclfc.gitlab.io/bonbon/build/category.html" class="btn_buy_continue flex-center"><i class="icon icon-buy"></i> Tiếp tục mua hàng</a>
                <div class="ml-auto">
                    <div class="flex-between mb-15">
                        <div class="txt">
                            Tổng tiền hàng
                            <span>3 Sản phẩm</span>
                        </div>
                        <div class="price">đ <span>10.800.000</span></div>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/thanh-toan.html" class="btn_pay flex-center">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal_voucher" id="modal_voucher">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Chọn Voucher</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="flex-lc">
                        <h4>Mã Voucher</h4>
                        <input type="text" placeholder="Nhập mã voucher">
                        <button type="button" class="btn_ty3">Áp dụng</button>
                    </form>
                    <h5>Mã Voucher giảm giá</h5>
                    <div class="voucher_list">
                        <div class="voucher flex pr">
                            <div class="voucher__code flex-center">
                                <span>GHO889662</span>
                                <span>Giảm 20%</span>
                            </div>
                            <div class="voucher__content flex">
                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" class="viewmore">Xem chi tiết</a>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checked"></span>
                                </label>
                            </div>
                        </div>
                        <div class="voucher flex pr">
                            <div class="voucher__code flex-center">
                                <span>GHO889662</span>
                                <span>Giảm 20%</span>
                            </div>
                            <div class="voucher__content flex">
                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" class="viewmore">Xem chi tiết</a>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checked"></span>
                                </label>
                            </div>
                        </div>
                        <div class="voucher flex pr">
                            <div class="voucher__code flex-center">
                                <span>GHO889662</span>
                                <span>Giảm 20%</span>
                            </div>
                            <div class="voucher__content flex">
                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" class="viewmore">Xem chi tiết</a>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checked"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-lc">
                    <button type="button" class="btn-back" data-dismiss="modal">Trở về</button>
                    <button type="button" class="btn-done btn_ty3" data-dismiss="modal">Xong</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal_notifi" id="modal_notifi">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
                <div class="notifi">
                    <img src="./assets/img/icon-removecart.png" alt="">
                    <p style="color:#f57c00;">Bạn có chắc muốn xóa sản phẩm này?</p>
                    <div class="box-btn flex-center">
                        <a href="javascript:;" class="btn_ty4">Đồng ý</a>
                        <a href="javascript:;" class="btn_ty3"  class="close" data-dismiss="modal">Không</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>