<main>
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://thuclfc.gitlab.io/bonbon/build/home.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm cho Ô tô</li>
        </ul>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="filter">
                    <button class="toggle-filter"><i class="icon icon-filter"></i></button>
                    <h2 class="flex-lc"><i class="icon icon-filter"></i> Bộ lọc tìm kiếm</h2>
                    <div class="filter__list">
                        <div class="filter__item filter__item--category">
                            <h4>Danh mục sản phẩm</h4>
                            <ul class="filter__list">
                                <li>
                                    <h5>Sản phẩm giảm giá</h5>
                                </li>
                                <li>
                                    <h5>Sản phẩm bán chạy</h5>
                                </li>
                                <li>
                                    <h5>Sản phẩm cho Ô tô</h5>
                                    <ul class="filter__sub">
                                        <li>
                                            <label>
                                                <input type="checkbox">
                                                <span>Lốp xe hơi</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox">
                                                <span>Lốp Xe Khách, Bus</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox">
                                                <span>Lốp xe tải</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox">
                                                <span>Lốp xe khác</span>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h5>Sản phẩm cho Xe máy</h5>
                                </li>
                                <li>
                                    <h5>Sản phẩm cho Xe đạp</h5>
                                </li>
                            </ul>
                        </div>
                        <div class="filter__item filter__item--brand">
                            <h4>Nhãn hiệu</h4>
                            <form action="">
                                <input type="text" placeholder="Tìm kiếm">
                            </form>
                            <div class="filter__list">
                                <label>
                                    <input type="checkbox">
                                    <span>Bridgestone</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Michelin</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Kumho</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Nutricost</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Nature’s way</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Mammoth</span>
                                </label>
                            </div>
                            <a href="" class="viewmore">HIển thị tất cả</a>
                        </div>
                        <div class="filter__item filter__item--size">
                            <h4>Kích thước sản phẩm</h4>
                            <div class="filter__list">
                                <label>
                                    <input type="checkbox">
                                    <span>Kích thước 1</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Kích thước 2</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Kích thước 3</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Size 2</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Size 4</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Size 6</span>
                                </label>
                            </div>
                            <a href="" class="viewmore">HIển thị tất cả</a>
                        </div>
                        <div class="filter__item">
                            <h4>Nơi bán</h4>
                            <div class="filter__list">
                                <label>
                                    <input type="checkbox">
                                    <span>Hà Nội</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Đà Nẵng</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Cần Thơ</span>
                                </label>
                            </div>
                        </div>
                        <div class="filter__item filter__item--price">
                            <h4>Khoảng giá</h4>
                            <div class="flex">
                                <div class="price flex-lc">
                                    <span>Từ</span>
                                    <select name="">
                                        <option>Thấp</option>
                                        <option>Cao</option>
                                    </select>
                                    <span>đ</span>
                                </div>
                                <div class="space">-</div>
                                <div class="price flex-lc">
                                    <span>Đến</span>
                                    <select name="">
                                        <option>Thấp</option>
                                        <option>Cao</option>
                                    </select>
                                    <span>đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>Xuất xứ</h4>
                            <div class="filter__list">
                                <label>
                                    <input type="checkbox">
                                    <span>Mỹ</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Anh</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>NHập khẩu chính hãng</span>
                                </label>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>Đánh giá</h4>
                            <div class="filter__list">
                                <label>
                                    <input type="checkbox">
                                    <span class="rating"><span class="rating__value" style="width: 100%"></span></span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span class="rating"><span class="rating__value" style="width: 80%"></span></span>
                                    <span>trở lên</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span class="rating"><span class="rating__value" style="width: 60%"></span></span>
                                    <span>trở lên</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span class="rating"><span class="rating__value" style="width: 40%"></span></span>
                                    <span>trở lên</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span class="rating"><span class="rating__value" style="width: 20%"></span></span>
                                    <span>trở lên</span>
                                </label>
                            </div>
                        </div>
                        <div class="filter__item">
                            <h4>Dịch vụ và KHuyến mại</h4>
                            <div class="filter__list">
                                <label>
                                    <input type="checkbox">
                                    <span>Đang giảm giá</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Hàng sẵn có</span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>Mua bán giá buôn/bán sỉ</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="slider_sale">
                    <div class="item">
                        <a href=""><img src="./assets/img/slide1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="./assets/img/slide1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="box-product product-list product-category mt-30">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header flex-lc">
                                <div class="sort flex-lc">
                                    <h5>Sắp xếp theo</h5>
                                    <button type="button" class="btn_sort active">Mới nhất</button>
                                    <button type="button" class="btn_sort">Bán chạy</button>
                                    <select name="">
                                        <option>Giá</option>
                                        <option>Sắp xếp từ Cao đến Thấp</option>
                                        <option>Sắp xếp từ Thấp đến Cao</option>
                                    </select>
                                </div>
                                <div class="nav flex-lc ml-auto">
                                    <div class="nav__page"><span>2</span>/8</div>
                                    <div class="nav__btn flex">
                                        <button type="button" class="btn_prev"></button>
                                        <button type="button" class="btn_next"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb6.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hà nội</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hưng yên</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hải phòng</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Lào cai</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb6.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hà nội</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hưng yên</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hải phòng</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Lào cai</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb6.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hà nội</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hưng yên</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hải phòng</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Lào cai</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hải phòng</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb6.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hà nội</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hưng yên</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="product">
                                <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                                <div class="product__detail">
                                    <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                                    <div class="middle flex-lc">
                                        <div class="rating"><div class="rating__value"></div></div>
                                        <span>Đã bán 25</span>
                                    </div>
                                    <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                                    <div class="address">Hải phòng</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-filter"></div>
</main>