<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://thuclfc.gitlab.io/bonbon/build/home.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
        </ul>
    </div>
    <div class="profile container">
        <div class="profile__banner">
            <img src="./assets/img/banner-profile.jpg" alt="">
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                {% include "../share/profile-nav.html" %}
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="flex-between">
                    <h2>Đơn mua hàng</h2>
                    <form action="" class="search">
                        <input type="text" placeholder="Tìm kiếm đơn hàng  thông qua ID hoặc từ khóa">
                    </form>
                </div>
                <div class="box-order">
                    <ul class="tab nav flex">
                        <li><a href="#tab1" data-toggle="tab" class="active" >Chờ xác nhận (2)</a></li>
                        <li><a href="#tab2" data-toggle="tab">Chờ lấy hàng (1)</a></li>
                        <li><a href="#tab3" data-toggle="tab">Đang giao (1)</a></li>
                        <li><a href="#tab4" data-toggle="tab">Đã giao (1)</a></li>
                        <li><a href="#tab5" data-toggle="tab">Đã hủy (1)</a></li>
                        <li><a href="#tab6" data-toggle="tab">Trả hàng (1)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade show active">
                            <div class="order">
                                <div class="order__header flex-lc">
                                    <div class="flex-lc">
                                        <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                        <strong>Maxxis Authentic</strong>
                                        <a href="" class="btn_contact">Liên hệ</a>
                                    </div>
                                    <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                                </div>
                                <div class="order__list">
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                </div>
                                <div class="order__bottom flex-lc">
                                    <div class="box-btn flex">
                                        <a href="" class="btn_cancel">Hủy đơn</a>
                                        <a href="https://thuclfc.gitlab.io/bonbon/build/order-detail.html" class="btn_view">Xem chi tiết</a>
                                    </div>
                                    <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                                </div>
                            </div>
                            <div class="order">
                                <div class="order__header flex-lc">
                                    <div class="flex-lc">
                                        <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                        <strong>Maxxis Authentic</strong>
                                        <a href="" class="btn_contact">Liên hệ</a>
                                    </div>
                                    <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                                </div>
                                <div class="order__list">
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                </div>
                                <div class="order__bottom flex-lc">
                                    <div class="box-btn flex">
                                        <a href="" class="btn_cancel">Hủy đơn</a>
                                        <a href="https://thuclfc.gitlab.io/bonbon/build/order-detail.html" class="btn_view">Xem chi tiết</a>
                                    </div>
                                    <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <div class="order">
                                <div class="order__header flex-lc">
                                    <div class="flex-lc">
                                        <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                        <strong>Maxxis Authentic</strong>
                                        <a href="" class="btn_contact">Liên hệ</a>
                                    </div>
                                    <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                                </div>
                                <div class="order__list">
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                </div>
                                <div class="order__bottom flex-lc">
                                    <div class="box-btn flex">
                                        <a href="" class="btn_cancel">Hủy đơn</a>
                                        <a href="https://thuclfc.gitlab.io/bonbon/build/order-detail2.html" class="btn_view">Xem chi tiết</a>
                                    </div>
                                    <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane fade">
                            <div class="order">
                                <div class="order__header flex-lc">
                                    <div class="flex-lc">
                                        <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                        <strong>Maxxis Authentic</strong>
                                        <a href="" class="btn_contact">Liên hệ</a>
                                    </div>
                                    <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                                </div>
                                <div class="order__list">
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                </div>
                                <div class="order__bottom flex-lc">
                                    <div class="box-btn flex">
                                        <a href="https://thuclfc.gitlab.io/bonbon/build/order-detail3.html" class="btn_view">Xem chi tiết</a>
                                    </div>
                                    <div class="status_order received">Đã nhận được hàng</div>
                                    <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab4" class="tab-pane fade">
                            <div class="order">
                                <div class="order__header flex-lc">
                                    <div class="flex-lc">
                                        <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                        <strong>Maxxis Authentic</strong>
                                        <a href="" class="btn_contact">Liên hệ</a>
                                    </div>
                                    <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                                </div>
                                <div class="order__list">
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                </div>
                                <div class="order__bottom flex-lc">
                                    <div class="box-btn flex">
                                        <a href="https://thuclfc.gitlab.io/bonbon/build/order-detail4.html" class="btn_view">Xem chi tiết</a>
                                        <a href="" class="btn_review">Đánh giá</a>
                                    </div>
                                    <div class="box-btn ml-auto">
                                        <a href="" title="" class="btn_sub">Mua lần nữa</a>
                                    </div>
                                    <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab5" class="tab-pane fade">
                            <div class="order">
                                <div class="order__header flex-lc">
                                    <div class="flex-lc">
                                        <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                        <strong>Maxxis Authentic</strong>
                                        <a href="" class="btn_contact">Liên hệ</a>
                                    </div>
                                    <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                                </div>
                                <div class="order__list">
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                </div>
                                <div class="order__bottom flex-lc">
                                    <div class="box-btn flex">
                                        <a href="https://thuclfc.gitlab.io/bonbon/build/order-cancel.html" class="btn_view">Xem chi tiết</a>
                                    </div>
                                    <div class="box-btn ml-auto">
                                        <a href="" title="" class="btn_sub">Mua lần nữa</a>
                                    </div>
                                    <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                                </div>
                            </div>
                        </div>
                        <div id="tab6" class="tab-pane fade">
                            <div class="order">
                                <div class="order__header flex-lc">
                                    <div class="flex-lc">
                                        <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                        <strong>Maxxis Authentic</strong>
                                        <a href="" class="btn_contact">Liên hệ</a>
                                    </div>
                                    <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                                </div>
                                <div class="order__list">
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                    <div class="item flex-lc">
                                        <div class="product flex">
                                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                            <div class="product__content">
                                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                                <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                            </div>
                                        </div>
                                        <div class="price ml-auto">
                                            <span>10 x</span>
                                            1.800.000đ
                                        </div>
                                    </div>
                                </div>
                                <div class="order__bottom flex-lc">
                                    <div class="box-btn flex">
                                        <a href="" class="btn_view">Xem chi tiết</a>
                                    </div>
                                    <div class="txt">Yêu cầu trả hàng được Đại lý chấp nhận</div>
                                    <div class="box-btn ml-auto">
                                        <a href="" title="" class="btn_sub">Hủy trả hàng</a>
                                    </div>
                                    <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>