<main>
    <div class="product_related">
        <div class="container flex-lc">
            <h2>Sản phẩm tương tự</h2>
            <div class="product_related_list">
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://thuclfc.gitlab.io/bonbon/build/home.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="https://thuclfc.gitlab.io/bonbon/build/category.html">Sản phẩm cho Ô tô</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lốp Brighstone</li>
        </ul>
        <div class="product_detail flex">
            <div class="col-left flex">
                <div class="list_img">
                    <div class="img active"><a href="./assets/img/img-pr.jpg"><img src="./assets/img/thumb1.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/img-pr2.jpg"><img src="./assets/img/thumb2.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/img-pr1.png"><img src="./assets/img/thumb3.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/img-pr2.jpg"><img src="./assets/img/thumb4.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/img-pr.jpg"><img src="./assets/img/thumb5.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/img-pr1.png"><img src="./assets/img/thumb6.jpg" alt=""></a></div>
                </div>
                <div class="imglarge-product flex-center">
                    <img src="./assets/img/img-pr.jpg" alt="">
                </div>
                <div class="box-share flex-lc">
                    <h4>Chia sẻ</h4>
                    <ul class="share flex">
                        <li><a href="" title="" class="share__ms">messager</a></li>
                        <li><a href="" title="" class="share__face">facebook</a></li>
                        <li><a href="" title="" class="share__g">google</a></li>
                        <li><a href="" title="" class="share__p">print</a></li>
                        <li><a href="" title="" class="share__in">instagram</a></li>
                    </ul>
                    <div class="like flex-center ml-auto">
                        <a href=""><i class="icon icon-like"></i></a>
                        23 đã thích
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="product_info">
                    <h2>Lốp xe MICHELIN PILOT SPORT 4 SUV - Tuyệt phẩm êm mái dành cho xế yêu </h2>
                    <div class="flex-lc">
                        <div class="rating"><div class="rating__value"></div></div>
                        <div class="rating_amount flex-lc"><span class="flex-center">21</span> Đánh giá</div>
                        <div class="selled">Đã bán 20</div>
                    </div>
                    <br>
                    <div class="flex">
                        <p>Thương hiệu: <b>Michelin</b></p>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <p>SKU: 3356786567310</p>
                    </div>
                    <div class="price flex">
                        <div class="price__new flex-lc"><p>đ <span>4.950.000</span></p> <span class="space">-</span> <p>đ <span>8.120.000</span></p></div>
                        <div class="price__old flex-lc"><p>đ <span>4.950.000</span></p> <span class="space">-</span> <p>đ <span>10.590.000</span></p></div>
                        <div class="txt">Giá bán sỉ từ >10sp trở lên  </div>
                    </div>
                    <div class="transport">
                        <div class="transport__head flex-lc">
                            Vận chuyển:
                            <div class="transport__icon"><img src="./assets/img/icon-tt.png" alt=""></div>
                            <span class="transport__type">Miễn phí vận chuyển</span>
                        </div>
                        <div class="transport__detail">
                            <p>Vận chuyển tới:
                                <select name="">
                                    <option>Quận Nam Từ Liêm, Hà Nội</option>
                                    <option>Hà Nam</option>
                                </select>
                            </p>
                            <p>
                                Phí vận chuyển:
                                <select name="">
                                    <option>đ 15.000 - đ 26.000</option>
                                    <option>đ 25.000 - đ 56.000</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="type flex-lc">
                        <h4>Loại Lốp: </h4>
                        <ul class="type__list flex">
                            <li><span>Lốp không xăm</span></li>
                            <li><span>Lốp bố Vải</span></li>
                        </ul>
                    </div>
                    <div class="select">
                        <h4>Kích thước</h4>
                        <div class="select__list flex">
                            <label>
                                <input type="radio" name="size">
                                <span>11 Inches</span>
                            </label>
                            <label>
                                <input type="radio" name="size">
                                <span>13 Inches</span>
                            </label>
                            <label>
                                <input type="radio" name="size">
                                <span>15 Inches</span>
                            </label>
                            <label>
                                <input type="radio" name="size">
                                <span>17 Inches</span>
                            </label>
                        </div>
                    </div>
                    <div class="select">
                        <h4>Hoa Gai</h4>
                        <div class="select__list flex">
                            <label>
                                <input type="radio" name="st">
                                <span>Demo hoa gai 1</span>
                            </label>
                            <label>
                                <input type="radio" name="st">
                                <span>Demo hoa gai 2</span>
                            </label>
                            <label>
                                <input type="radio" name="st">
                                <span>Demo hoa gai 3</span>
                            </label>
                            <label>
                                <input type="radio" name="st">
                                <span>hoa gai 4</span>
                            </label>
                            <label>
                                <input type="radio" name="st">
                                <span>Demo hoa gai 2</span>
                            </label>
                            <label>
                                <input type="radio" name="st">
                                <span>Demo hoa gai 3</span>
                            </label>
                            <label>
                                <input type="radio" name="st">
                                <span>hoa gai 4</span>
                            </label>
                            <a href="" title="" class="viewmore">Xem thêm (100)</a>
                        </div>
                    </div>
                    <div class="amount">
                        <h4>Số lượng</h4>
                        <div class="amount_inner flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1">
                            <a href="javascript:void(0)" class="add_amount">+</a>
                            <p>131 sản phẩm có sẵn</p>
                        </div>
                    </div>
                    <div class="box-btn flex">
                        <a href="javascript:;" class="btn_addcart flex-center" data-target="#modal_notifi" data-toggle="modal"><i class="icon icon-cart"></i> Thêm vào giỏ</a>
                        <a href="https://thuclfc.gitlab.io/bonbon/build/thanh-toan.html" class="btn_buy flex-center">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop flex-lc">
            <div class="shop__avatar flex">
                <img src="./assets/img/logo-shop.png" alt="">
            </div>
            <div class="shop__info">
                <h5>ROLL by JUST TIRES</h5>
                <div class="box-btn flex">
                    <a href="" title="" class="btn_ty1 btn_chat">Chat Ngay</a>
                    <a href="/tai-khoan.html" title="" class="btn_ty2 btn_chat">Xem shop</a>
                </div>
            </div>
            <ul class="shop__cre flex-lc">
                <li>
                    <i class="icon icon1"></i>
                    Cam kết chính hiệu 100%
                </li>
                <li>
                    <i class="icon icon2"></i>
                    Hơp tác cùng Sàn Lốp
                </li>
                <li>
                    <i class="icon icon3"></i>
                    Chứng nhận bởi Sàn Lốp
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="info_detail">
                    <h4>Chi tiết sản phẩm</h4>
                    <div class="table-info">
                        <p><span>Nguồn gốc</span> Nhập khẩu Đức</p>
                        <p><span>Kho hàng</span> 2669 sản phẩm</p>
                        <p><span>Thương Hiệu</span> MICHELIN</p>
                        <p><span>Bảo hành</span> Bảo hành 1 năm</p>
                    </div>
                    <h4>Mô tả sản phẩm</h4>
                    <article>
                        <p>Bám trên đường ướt và an toàn</p>
                        <p>- Dẫn đầu trong các thử nghiệm về phanh trên đường ướt*</p>
                        <p>- Công nghệ “Dynamic response”: Sự tích hợp của aramid & nylon trong cấu tạo lớp bố đỉnh giúp đánh lái chính xác và tối ưu khả năng kiểm soát lái</p>
                        <p>- Mặt gai bất đối xứng: Phía ngoài giúp lốp bám tốt trên đường khô, phía trong giúp lốp tăng cường độ bám trên đường ướt</p>
                        <p>- Thiết kế rãnh gai dọc được cải tiến giúp các khối gai cứng cáp và bám đường khi vào cua</p>
                        <p>- Rãnh gai hình chữ V được tối ưu hóa giúp lốp cứng cáp và bám đường khô tuyệt hảo</p>
                        <p>- Hợp chất mới được kết hợp giữa hợp chất đàn hồi chuyên dụng được cải tiến và silica, mang đến độ bám đường và khả năng phanh tuyệt vời trên đường ướt</p>
                        <img src="./assets/img/img-dt.jpg" alt="">
                        <p>*Thử nghiệm được thực hiện bởi TÜV SÜD, theo yêu cầu của Michelin vào tháng 8 và 9 năm 2018, kích cỡ lốp 235/60R18, lắp trên xe AUDI Q5 2.0 TDI, so sánh lốp MICHELIN PILOT SPORT 4 SUV với các sản phẩm cùng phân khúc của các thương hiệu cao cấp khác trên thị trường</p>
                        <button class="btn_viewfull flex-center">Xem thêm</button>
                        <button class="btn_collapse flex-center">Thu gọn</button>
                    </article>
                </div>
                <div class="comment">
                    <div class="comment__header flex-lc">
                        <h2 class="title">Đánh giá sản phẩm</h2>
                    </div>
                    <div class="comment__list">
                        <div class="comment__item flex">
                            <div class="avatar"><img src="./assets/img/thumb1.jpg" alt=""></div>
                            <div class="info">
                                <div class="name">Bùi Duy Long</div>
                                <div class="flex-lc">
                                    <div class="rating pr"><div class="rating__value" style="width: 80%;"></div></div>
                                    <time>24/06/2020</time>
                                </div>
                                <div class="content">
                                    Lốp xịn hàng chuẩn mình thích, shop vận chuyển nhanh nữa.
                                </div>
                                <div class="info__img flex">
                                    <img src="./assets/img/thumb1.jpg" alt="">
                                    <img src="./assets/img/thumb2.jpg" alt="">
                                    <img src="./assets/img/thumb3.jpg" alt="">
                                </div>
                                <div class="feedback">
                                    <h5>Phản hồi từ shop</h5>
                                    <p>Shop rất vinh dự khi được phục vụ quý khách. Xin cảm ơn khách iu rất nhiều ạ!!! <3</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment__item flex">
                            <div class="avatar"><img src="./assets/img/thumb1.jpg" alt=""></div>
                            <div class="info">
                                <div class="name">Bùi Duy Long</div>
                                <div class="flex-lc">
                                    <div class="rating pr"><div class="rating__value" style="width: 60%;"></div></div>
                                    <time>24/06/2020</time>
                                </div>
                                <div class="content">
                                    Lốp xịn hàng chuẩn mình thích, shop vận chuyển nhanh nữa.
                                </div>
                                <div class="info__img flex">
                                    <img src="./assets/img/thumb1.jpg" alt="">
                                    <img src="./assets/img/thumb2.jpg" alt="">
                                    <img src="./assets/img/thumb3.jpg" alt="">
                                </div>
                                <div class="feedback">
                                    <h5>Phản hồi từ shop</h5>
                                    <p>Shop rất vinh dự khi được phục vụ quý khách. Xin cảm ơn khách iu rất nhiều ạ!!! <3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item disabled"><span>...</span></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 pl-m15 pl-0">
                <div class="discount">
                    <div class="discount__header">
                        <img src="./assets/img/bg-shop.jpg" alt="">
                        <h4>ROLL by JUST TIRES</h4>
                        <span>Mã giảm giá</span>
                    </div>
                    <div class="discount__item">
                        <h5>Giảm ₫50k Đơn Tối Thiểu ₫500k cho đơn hàng</h5>
                        <time>HSD:06-08-2020</time>
                        <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" class="viewmore">Xem thêm</a>
                        <button type="button" class="btn_saved">Đã Lưu</button>
                    </div>
                    <div class="discount__item">
                        <h5>Giảm ₫50k Đơn Tối Thiểu ₫500k</h5>
                        <time>HSD:06-08-2020</time>
                        <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" class="viewmore">Xem thêm</a>
                        <button type="button" class="btn_save">Lưu</button>
                    </div>
                </div>
                <div class="product_selling">
                    <h2>Sản phẩm bán chạy</h2>
                    <div class="product_selling_list">
                        <div class="product">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                            <h3><a href="">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                        <div class="product">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb6.jpg" alt=""></a>
                            <h3><a href="">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                        <div class="product">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                            <h3><a href="">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_like">
            <h2>Có thể bạn cũng thích</h2>
            <div class="product_like_list">
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                        <span>1.180.000đ</span>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                        <span>1.180.000đ</span>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                        <span>1.180.000đ</span>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                        <span>1.180.000đ</span>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                        <span>1.180.000đ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal_notifi" id="modal_notifi">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
                <div class="notifi">
                    <img src="./assets/img/icon-addcart.png" alt="">
                    <p style="color: #f57c00">Đã thêm sản phẩm vào giỏ hàng</p>
                </div>
            </div>
        </div>
    </div>
</main>