<header class="bg-white">
    <div class="container">
        <div class="flex-lc">
            <a href="https://thuclfc.gitlab.io/bonbon/build/home.html" class="logo"><img src="./assets/img/logo2.png" alt=""></a>
            <div class="space"></div>
            <div class="txt">Đăng ký tài khoản</div>
            <div class="dropdown favourite">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-favourite"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Danh sách yêu thích  (2 Sản phẩm)</h5>
                    <div class="product_list">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                    </div>
                    <a href="" class="btn_addcar flex-center">Thêm vào giỏ hàng</a>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/yeu-thich.html" class="btn_view flex-center">Xem tất cả</a>
                </div>
            </div>
            <div class="dropdown cart">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-cart"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Giỏ hàng (2 Sản phẩm)</h5>
                    <div class="product_list">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/cart.html" class="btn_viewcar flex-center">Xem giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="register">
        <div class="container flex-lc flex-between">
            <div class="intro">
                <a href="" class="logo"><img src="./assets/img/logo1.png" alt=""></a>
                <p>Sàn Lốp lớn nhất Việt Nam</p>
                <p>Đảm bảo chất lượng hàng đầu tới mỗi khách hàng</p>
            </div>
            <form method="" action="">
                <h4>Đăng ký tài khoản</h4>
                <div class="form-group">
                    <label>Số điện thoại <sup>*</sup></label>
                    <input type="number" name="phone" class="phone" placeholder="0965 999 663">
                    <button type="button" class="btn_send_otp">GỬI MÃ OTP</button>
                </div>
                <div class="form-group">
                    <label>MÃ OPT <sup>*</sup></label>
                    <input type="number" name="otp" placeholder="8 6 7 2">
                </div>
                <fieldset>
                    <h5>Tạo mật khẩu</h5>
                    <div class="form-group">
                        <label>Mật khẩu <sup>*</sup></label>
                        <input type="password" id="password-field" name="password" placeholder="*******">
                        <span toggle="#password-field" class="toggle-password">
                        <i class="material-icons show">visibility</i>
                        <i class="material-icons hide">visibility_off</i>
                    </span>
                    </div>
                    <div class="form-group">
                        <label>Nhập lại Mật khẩu <sup>*</sup></label>
                        <input type="password" id="password-field1" name="re-password" placeholder="*******">
                        <span toggle="#password-field1" class="toggle-password">
                        <i class="material-icons show">visibility</i>
                        <i class="material-icons hide">visibility_off</i>
                    </span>
                    </div>
                </fieldset>
                <div class="rule">
                    <p class="active">Ít nhất 1 ký tự thường</p>
                    <p>Ít nhất 1 ký tự hoa</p>
                    <p>8-17 ký tự</p>
                </div>
                <div class="form-action flex-lc">
                    <a href="https://thuclfc.gitlab.io/bonbon/build/login.html" title="" class="btn_login">Quay lại đăng nhập</a>
                    <a href="javascript:;" class="btn_submit btn_ty3 flex-center" data-toggle="modal" data-target="#modal_notifi">Đăng ký</a>
                </div>
                <div class="login-other">
                    <div class="line"><span>Hoặc</span></div>
                    <div class="box-btn flex">
                        <a href="" title="" class="login-facebook"><i class="icon icon-face"></i>Facebook</a>
                        <a href="" title="" class="login-google"><i class="icon icon-google"></i>Google</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade modal_notifi" id="modal_notifi">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
                <div class="notifi">
                    <img src="./assets/img/icon-ss.png" alt="">
                    <h4>Đăng ký tài khoản thành công</h4>
                    <p>Vui lòng nhập họ và tên để hoàn tất đăng ký</p>
                    <form method="" action="">
                        <input type="text" placeholder="Họ và tên" required>
                        <button type="submit" class="btn_submit flex-center">Hoàn tất</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal-popup"></div>
<div class="modal fade modal_notifi" id="modal_notifi_dl_cart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
            <div class="notifi">
                <img src="./assets/img/icon-removecart.png" alt="">
                <p style="color:#f57c00;">Bạn có chắc muốn xóa sản phẩm này?</p>
                <div class="box-btn flex-center">
                    <a href="javascript:;" class="btn_ty4">Đồng ý</a>
                    <a href="javascript:;" class="btn_ty3"  class="close" data-dismiss="modal">Không</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal_notifi" id="modal_notifi_dl_like">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
            <div class="notifi">
                <img src="./assets/img/icon-removecart.png" alt="">
                <p>Xóa sản phẩm thành công</p>
            </div>
        </div>
    </div>
</div>