<header class="bg-white">
    <div class="container">
        <div class="flex-lc">
            <a href="https://thuclfc.gitlab.io/bonbon/build/home.html" class="logo"><img src="./assets/img/logo2.png" alt=""></a>
            <div class="space"></div>
            <div class="txt">Giới thiệu về sàn BONBON</div>
            <div class="dropdown favourite">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-favourite"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Danh sách yêu thích  (2 Sản phẩm)</h5>
                    <div class="product_list">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                    </div>
                    <a href="" class="btn_addcar flex-center">Thêm vào giỏ hàng</a>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/yeu-thich.html" class="btn_view flex-center">Xem tất cả</a>
                </div>
            </div>
            <div class="dropdown cart">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-cart"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Giỏ hàng (2 Sản phẩm)</h5>
                    <div class="product_list">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/cart.html" class="btn_viewcar flex-center">Xem giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="support">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="support__nav">
                        <li><a class="active" href="" title="">Giới thiệu về sàn BONBON</a></li>
                        <li><a href="">Tuyển dụng</a></li>
                        <li><a href="">Quy chế hoạt động</a></li>
                        <li><a href="">Hướng dẫn mua hàng</a></li>
                        <li><a href="">Giải quyết khiếu nại</a></li>
                        <li><a href="">Chăm sóc khách hàng</a></li>
                        <li><a href="">Mở shop</a></li>
                        <li><a href="">Chính sách bán hàng</a></li>
                        <li><a href="">Tiêu chí kiểm duyệt</a></li>
                        <li><a href="">FAQ & hỗ trợ</a></li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="support__content">
                        <h2>Hỗ trợ</h2>
                        <div class="faq">
                            <h4>Câu hỏi thường gặp</h4>
                            <ul class="faq__list">
                                <li class="active">
                                    <h5>Bắt Đầu Bán Hàng Cùng BONBON</h5>
                                    <article>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                    </article>
                                </li>
                                <li>
                                    <h5>Khi nào tôi có thể trả hàng hoàn tiền</h5>
                                    <article>
                                        abc
                                    </article>
                                </li>
                                <li>
                                    <h5>Tích lũy Shopee Xu như thế nào ?</h5>
                                </li>
                                <li>
                                    <h5>Khi nào tôi có thể trả hàng hoàn tiền</h5>
                                </li>
                                <li>
                                    <h5>Tích lũy Shopee Xu như thế nào ?</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="support__bottom">
                        <h4>Gửi email cho chúng tôi nếu bạn còn câu hỏi nhé</h4>
                        <p class="flex-lc"><i class="icon icon-email"></i><a href="mailto:Support@bonbon.vn">Support@bonbon.vn</a></p>
                        <p class="flex-lc"><i class="icon icon-phone"></i>Hotline: <a href="tel:+84 555 99995">+84 555 99995</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal-popup"></div>
<div class="modal fade modal_notifi" id="modal_notifi_dl_cart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
            <div class="notifi">
                <img src="./assets/img/icon-removecart.png" alt="">
                <p style="color:#f57c00;">Bạn có chắc muốn xóa sản phẩm này?</p>
                <div class="box-btn flex-center">
                    <a href="javascript:;" class="btn_ty4">Đồng ý</a>
                    <a href="javascript:;" class="btn_ty3"  class="close" data-dismiss="modal">Không</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal_notifi" id="modal_notifi_dl_like">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
            <div class="notifi">
                <img src="./assets/img/icon-removecart.png" alt="">
                <p>Xóa sản phẩm thành công</p>
            </div>
        </div>
    </div>
</div>