<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://thuclfc.gitlab.io/bonbon/build/home.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
        </ul>
    </div>
    <div class="profile container">
        <div class="profile__banner">
            <img src="./assets/img/banner-profile.jpg" alt="">
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                {% include "../share/profile-nav.html" %}
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="box-voucher">
                    <div class="voucher-form">
                        <form action="" class="flex-lc">
                            <h4>Mã Voucher</h4>
                            <input type="text" placeholder="Nhập mã voucher">
                            <button type="button" class="btn_ty3">Áp dụng</button>
                        </form>
                    </div>
                    <div class="voucher-list">
                        <ul class="tab nav">
                            <li><a href="#voucher1" data-toggle="tab" class="active">Voucher của sàn</a></li>
                            <li><a href="#voucher2" data-toggle="tab">Voucher shop</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="voucher1" class="tab-pane fade show active">
                                <ul class="tab_sub nav">
                                    <li><a href="#all" data-toggle="tab" class="active">Tất cả</a></li>
                                    <li><a href="#notused" data-toggle="tab">Chưa dùng</a></li>
                                    <li><a href="#used" data-toggle="tab">Đã dùng</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="all" class="tab-pane fade show active">
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="https://thuclfc.gitlab.io/bonbon/build/voucher-detail.html" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                    </div>
                                    <div id="notused" class="tab-pane fade">
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                    </div>
                                    <div id="used" class="tab-pane fade">
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="voucher2" class="tab-pane fade">
                                <ul class="tab_sub nav">
                                    <li><a href="#allshop" data-toggle="tab" class="active">Tất cả</a></li>
                                    <li><a href="#notusedsho" data-toggle="tab">Chưa dùng</a></li>
                                    <li><a href="#usedusedshop" data-toggle="tab">Đã dùng</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="allshop" class="tab-pane fade show active">
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                    </div>
                                    <div id="notusedsho" class="tab-pane fade">
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                    </div>
                                    <div id="usedshop" class="tab-pane fade">
                                        <div class="voucher flex pr">
                                            <div class="voucher__code flex-center">
                                                <span>GHO889662</span>
                                                <span>Giảm 20%</span>
                                            </div>
                                            <div class="voucher__content flex">
                                                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
                                                <a href="" class="viewmore">Xem chi tiết</a>
                                            </div>
                                            <a href="" title="Điều kiện" class="condition">Điều kiện</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>