<main>
    <div class="favourite">
        <div class="favourite__header">
            <div class="container">
                <div class="flex-lc">
                    <h4><i class="icon icon-like"></i> Danh sách yêu thích</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="favourite__head flex">
                <div class="cl-1">Sản phẩm</div>
                <div class="cl-2">Giá tiền</div>
                <div class="cl-3">Thao tác</div>
            </div>
            <div class="favourite__list">
                <div class="header flex-lc">
                    <h2>ROLL by TIRES</h2>
                    <a href="" class="btn_chat flex-center"><i class="icon icon-chat"></i> Chat</a>
                </div>
                <div class="item flex-lc">
                    <div class="cl-1 flex-lc">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__content">
                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                <p>Lốp không xăm / Lốp bố thép</p>
                            </div>
                        </div>
                        <div class="type">Loại: <span>Lốp 11 Inch - Hoa gai A</span></div>
                    </div>
                    <div class="cl-2">
                        1.080.000đ
                    </div>
                    <div class="cl-3 flex-lc">
                        <a href="" class="btn_buy btn_ty3">Mua ngay</a>
                        <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi">Xóa</a>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="cl-1 flex-lc">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__content">
                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                <p>Lốp không xăm / Lốp bố thép</p>
                            </div>
                        </div>
                        <div class="type">Loại: <span>Lốp 11 Inch - Hoa gai A</span></div>
                    </div>
                    <div class="cl-2">
                        1.080.000đ
                    </div>
                    <div class="cl-3 flex-lc">
                        <a href="" class="btn_buy btn_ty3">Mua ngay</a>
                        <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi">Xóa</a>
                    </div>
                </div>
            </div>
            <div class="favourite__list">
                <div class="header flex-lc">
                    <h2>Michellin Việt Nam</h2>
                    <a href="" class="btn_chat flex-center"><i class="icon icon-chat"></i> Chat</a>
                </div>
                <div class="item flex-lc">
                    <div class="cl-1 flex-lc">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__content">
                                <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                <p>Lốp không xăm / Lốp bố thép</p>
                            </div>
                        </div>
                        <div class="type">Loại: <span>Lốp 11 Inch - Hoa gai A</span></div>
                    </div>
                    <div class="cl-2">
                        1.080.000đ
                    </div>
                    <div class="cl-3 flex-lc">
                        <a href="" class="btn_buy btn_ty3">Mua ngay</a>
                        <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi">Xóa</a>
                    </div>
                </div>
            </div>
            <div class="product_like">
                <h2>Có thể bạn cũng thích</h2>
                <div class="product_like_list">
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                    <div class="product flex">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="https://thuclfc.gitlab.io/bonbon/build/product-detail.html">Lốp xe Brightstone Turanza T005A</a></h3>
                            <span>1.180.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="favourite__btn">
            <div class="container flex-lc pt-30 pb-30">
                <a href="https://thuclfc.gitlab.io/bonbon/build/category.html" class="btn_buy_continue flex-center"><i class="icon icon-buy"></i> Tiếp tục mua hàng</a>
                <a href="https://thuclfc.gitlab.io/bonbon/build/thanh-toan.html" class="btn_pay flex-center ml-auto">Mua tất cả</a>
            </div>
        </div>
    </div>
    <div class="modal fade modal_notifi" id="modal_notifi">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
                <div class="notifi">
                    <img src="./assets/img/icon-removecart.png" alt="">
                    <p>Xóa sản phẩm thành công</p>
                </div>
            </div>
        </div>
    </div>
</main>