body{
  background: #f2f2f4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #111111;
  line-height: 1.4;
  &.pr-detail{background: #fff;}
}
html,body{
  scroll-behavior: smooth;
}
header{
  &.bg-white{
    padding: 25px 0;
    background: #fff;
    .dropdown-toggle{
      position: relative;
      span{background: #f57d20; color: #fff; font-weight: 400;}
      .icon-favourite{background: url("#{$img-path}/icon-heart1.png") no-repeat 0 0/contain;}
      .icon-cart{background: url("#{$img-path}/icon-cart1.png") no-repeat 0 0/contain;}
    }
    .txt{margin-right: auto; font-size: 24px; color: #f57d20;}
    .space{width: 1px; height: 80px; background: #f57d20; margin: 0 42px;}
  }
  .cart{margin-left: 76px;}
  .notified{
    display: none;
    width: 530px;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
    position: absolute; right: -40px; top: 45px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 90;
    &::after{
      content: "";
      border-style: solid;
      border-width: 10px;
      border-color: transparent transparent #fff transparent;
      position: absolute; right: 70px; top: -20px;
    }
    &.show{display: block;}
    &__list{background: #feecde; padding: 0 10px 20px;}
    h4{padding: 10px 0 10px 10px;}
    .btn_view{
      display: block; padding-top: 5px; text-align: center; color: #f57c00;
      &:hover{color: #f0ad4e;}
    }
    .close{display: none;}
  }
  .post{
    padding: 10px 0;
    align-items: flex-start;
    &__thumb{width: 50px;}
    &__content{width: calc(100% - 50px); margin-top: 0; padding-left: 10px;}
    h3{margin-bottom: 5px; font-weight: 600; font-size: 14px;}
    h3 a{color: #111; line-height: initial;}
    h3 a:hover{color: #f57c00;}
    p{font-size: 13px;}
  }
  .box-link{
    width: 100%;
    >*+*{margin-left: 30px;}
    a{color: #f2f2f4; line-height: 30px; font-size: 13px; white-space: nowrap;}
    .notifi{margin-left: auto;}
    a:hover{color: #fff;}
    .icon-notifi{width: 11px; height: 12px; background-position: -28px -132px; margin-right: 5px;}
  }
  .user{
    color: #f2f2f4;
    flex-wrap: nowrap;
    .space{padding: 0 5px;}
  }
  .dropdown{
    margin-top: 10px; padding: 0;
    h5{margin: 20px 0 0 20px; color: #666; font-size: 16px;}
    &.show{z-index: 92;}
    &.cart{
      .dropdown-content{right: -68px;}
    }
    &.favourite{
      .btn_remove{color: #111; top: calc(50% - 20px);}
    }
    .dropdown-content{
      display: none;
      width: 530px;
      padding-bottom: 20px;
      background: #fff;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
      position: absolute; top: 50px; right: -190px; z-index: 90;
    }
    &.show .dropdown-content{display: block;}
  }
  .dropdown-toggle{
    padding: 0;
    span{
      width: 32px; height: 20px;
      background: #fff; border-radius: 10px;
      font-size: 12px; font-weight: 700; color: #111; line-height: 20px;
      position: absolute; top: 0; right: -7px;
    }
    .icon-favourite,.icon-cart{height: 38px; display: block;}
    .icon-favourite{width: 43px; background: url("#{$img-path}/icon-heart.png") no-repeat 0 0/contain;}
    .icon-cart{width: 44px; background: url("#{$img-path}/icon-cart.png") no-repeat 0 0/contain;}
    &::after{display: none;}
    &:focus{box-shadow: none;}
  }
  .product{
    padding: 20px; position: relative;
    &__thumb{width: 70px; height: 70px; padding-bottom: 0;}
    &__detail{width: calc(100% - 70px); background: none; padding: 0 0 0 14px; max-width: 270px;}
    h3{margin-top: -3px; font-size: 14px; font-weight: 600; line-height: 21px; min-height: auto;}
    span{display: block; padding: 2px 0; color: #666;}
    .price{font-weight: 700;}
  }
  .product_list{
    height: 242px;
    overflow: auto;
    .product:nth-child(even){background: #f6f7f8;}
    &::-webkit-scrollbar{width: 5px;}
    &::-webkit-scrollbar-track{background: #e4e4e4;}
    &::-webkit-scrollbar-thumb{background: #666;}
  }
  .btn_viewcar,.btn_addcar,.btn_view{
    width: 150px; height: 40px; margin-top: 20px;
    background: #f57d20;
    border-radius: 4px;
    font-weight: 700;
    color: #fff;
    float: right; margin-right: 20px;
    text-shadow: 0px 1px 2px rgba(51, 51, 51, 0.2);
    &:hover{background: #d46711; color: #fff;}
  }
  .btn_addcar{
    background: #f95064; width: 180px;
    &:hover{background: #e12c41; color: #fff;}
  }
  .btn_view{
    background: #f57d20;
  }
  .amount{
    position: absolute;
    right: 20px; top: 50%; transform: translateY(-50%);
  }
  .btn_remove{
    color: #f57d20; position: absolute; right: 20px; top: calc(50% + 20px);
    &:hover{text-decoration: underline;}
  }
}
.topHeader{
  width: 100%;
  height: 30px;
  background: #e9751b;
}
.btHeader{
  padding: 20px 0;
  background: #f57d20;
  align-items: flex-start;
  .flex{align-items: flex-start;}
  .search{
    width: 100%; max-width: 570px;
    margin: 10px 65px 0 102px;
    padding: 0 0 13px;
    input{
      width: 100%; height: 40px; padding: 0 19px;
      background: #fff; border-radius: 4px; border: none;
      font-size: 14px; color: #111;
      &::placeholder{color: #111;}
    }
    input:focus{outline: none;}
    p{display: block; margin: 11px 0 0; font-size: 14px; line-height: 16px; color: #f2f2f4;}
    p span,p a{border-bottom: 1px solid; color: #f2f2f4;}
    a:hover{color: #fff;}
  }
  .btn_search{
    width: 22px; height: 22px;
    background: url("#{$img-path}/icon-search.png") no-repeat 0 0/contain;
    position: absolute; right: 10px; top: 10px;
  }
}
.navbar-toggler{display: none;}
//main
.st1{margin: 25px 0 15px;}
.category{
  width: 100%;
  max-width: 290px;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  h4{
    display: flex; align-items: center; margin-bottom: 22px;
    font-size: 15px; font-weight: 600; text-transform: uppercase; color: #ff610b;
  }
  .icon-category{width: 24px; height: 26px; margin-right: 7px; background-position: 0 0;}
  &__list{
    >*+*{margin-top: 28px;}
    a{display: flex; align-items: center; background: url("#{$img-path}/icon-arr.png") no-repeat right center;}
    .icon{width: 24px; height: 24px; margin-right: 13px;}
    .icon-sale{background-position: -1px -26px;}
    .icon-hot{background-position: -1px -53px;}
    .icon-oto{height: 18px; background-position: -1px -80px;}
    .icon-moto{background-position: -2px -100px;}
    .icon-bike{height: 16px; background-position: -2px -130px;}
  }
}
.category_pr{
  margin: 50px 0 25px;
  h2{margin-bottom: -5px; font-size: 15px; text-transform: uppercase;}
  .slick-slide{
    > div:nth-child(2) a{border-bottom: none;}
    .img{width: 50px; height: 50px; margin: 0 auto 15px;}
    a{padding: 18px 5px; background: #fff; text-align: center; border-right: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4;}
    a:hover{box-shadow: 0px 1px 30px 0 rgba(51, 51, 51, 0.2); z-index: 99; position: relative;}
    span{display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
  }
  .slick-list{padding: 25px 0;}
}
.slider-sale{width: 100%; max-width: 870px;}
.banner{
  margin-bottom: 30px;
  >*+*{margin-left: 15px;}
  a{display: block; width: 380px; height: 145px;}
  img{width: 100%; height: 100%; object-fit: cover;}
}
.flashsale{
  margin-bottom: 30px;
  &__header{
    background: #fff;
    padding: 20px 20px 17px;
    h2{display: block; width: 101px; height: 53px; background: url("#{$img-path}/flashsale.png") no-repeat; text-indent: -9999em;}
  }
  &__time{margin-left: 15px;}
  &__product{
    .product:hover{box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2); position: relative; z-index: 9;}
  }
  .slick-list{padding-bottom: 10px;}
  .slick-arrow{top: 132px; transform: translateY(0);}
}
.count_down{
  >*+*{margin-left: 8px;}
  .down{
    width: 30px; height: 30px; display: flex;
    align-items: center; justify-content: center;
    border-radius: 4px;
    background: #3e10a5;
    color: #fff;
    text-align: center;
  }
  .time{font-weight: 700;}
}
.box-product{
  .header{
    margin-bottom: 30px;
    padding: 20px; background: #fff;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    h2{font-size: 15px; font-weight: 600; color: #f57d20; text-transform: uppercase;}
    h2::after{
      content: "";
      width: 30px;
      height: 2px;
      display: block; margin: 4px auto 0;
      background-color: #ffaf71;
    }
    time{margin-left: 46px; font-size: 15px; font-weight: 600; text-transform: uppercase;}
    .icon-hot{width: 30px; height: 30px; display: block; margin-right: 8px; background: url("#{$img-path}/icon-hot.png") no-repeat;}
  }
}
.product-list{
  .product{
    margin-bottom: 30px;
    &__detail{padding: 12px 9px 15px; box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);}
  }
}
.product_related,.search_related{
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  h2{margin-right: 130px; font-size: 18px; color: #333;}
  &_list{width: 840px;}
  .slick-slide{display: flex !important;}
  .product{
    padding: 15px 10px;
    margin: 0 4px;
    background: #e8e7f4;
    h3{min-height: auto; font-size: 14px;}
    h3 a{display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    &:nth-child(2){background: #ffebd9;}
    &:nth-child(3){background: #d3edf0;}
    &__thumb{width: 50px; height: 50px; padding-bottom: 0;}
    &__detail{width: calc(100% - 50px); padding: 0 0 0 12px; background: none;}
    .price{
      &__new{margin-left: 0; font-size: 14px;}
      &__old{margin-left: 4px; font-size: 12px; color: #333;}
    }
  }
  .slick-arrow{
    width: 35px;
    height: 80px;
    background: #f2f2f4;
    box-shadow: none;
    &::after{
      width: 9px; height: 16px;
      background: url("#{$img-path}/icon-arr1.png") no-repeat center center;
    }
  }
  .slick-prev{left: -42px;}
  .slick-next{right: -42px;}
}
.search_related{
  h2{margin-right: 114px;}
}
.product{
  transition: all .25s ease;
  &__thumb{
    display: block; position: relative; padding-bottom: 100%;
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
  }
  &__detail{padding: 7px 9px; background: #fff; position: relative;}
  h3{min-height: 48px; font-size: 15px; line-height: 24px;}
  h3 a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price{
    color: #e70101;
    &__new{margin-left: 4px; font-weight: 700; font-size: 16px;}
    &__old{margin-left: 8px; color: #999; text-decoration: line-through;}
  }
  .selled{
    margin-top: 10px;
    padding-bottom: 16px;
    h5{margin-bottom: 4px; font-size: 14px; color: #7520ce;}
  }
  .process{
    width: 100%; height: 6px;
    background: #f2f2f4; border-radius: 3px;
    position: relative;
    &__value{width: 50%; height: 100%; background: #7520ce; border-radius: 3px; position: absolute; top: 0; left: 0;}
  }
  .rating{
    width: 65px; height: 13px;
    background: url("#{$img-path}/star1.png") repeat;
    position: relative;
    &__value{
      width: 80%; height: 100%;
      background: url("#{$img-path}/star.png") repeat;
      position: absolute; top: 0; left: 0;
    }
  }
  .middle{
    margin: 6px 0 15px;
    span{margin-left: 7px; font-size: 13px; color: #999; line-height: 1;}
  }
  .address{margin-top: 10px; font-size: 13px; color: #999; text-transform: capitalize;}
}
.trend{
  .header{padding: 25px 20px; background: #fff;}
  .item{
    display: flex !important; padding: 20px; align-items: flex-end;
    background: #fff;
    border-top: 1px solid #f3f3f5; border-right: 1px solid #f3f3f5;
    &:hover{box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2); position: relative; z-index: 9;}
  }
  .slick-list{padding-bottom: 10px;}
  h2{font-size: 15px; font-weight: 600; text-transform: uppercase;}
  h3{margin-bottom: 12px; font-size: 15px; line-height: 21px;}
  .thumb{width: 80px; height: 80px; display: block;}
  .content{width: calc(100% - 80px); padding-left: 10px;}
  img{width: 100%; height: 100%; object-fit: cover;}
  span{font-size: 13px; color: #ee2c3c;}
}
.product_detail{
  padding: 5px 10px 74px 8px;
  background: #fff;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  .col-left{max-width: 562px;}
  .col-right{width: calc(100% - 562px); padding: 35px 20px 0 30px;}
  .list_img{
    width: 84px;
    img{width: 84px; height: 84px; object-fit: cover; border: 2px solid transparent;}
    .slick-slide{padding: 3px 0;}
  }
  .active img{border: 2px solid #f57d20;}
  .slick-arrow{
    width: 80px; height: 20px;
    display: flex !important;
    background: #f2f2f4; position: relative; top: 0; transform: translateY(0); box-shadow: none;
    &.slick-disabled{display: none !important;}
  }
  .slick-next{
    margin-top: 4px;
    &::after{transform: rotate(-90deg);}
  }
  .slick-prev{
    margin-bottom: 4px;
    &::after{transform: rotate(90deg);}
  }
  .imglarge-product{
    width: 470px;
    padding: 10px;
    margin-left: 8px;
  }
  .box-share{
    width: 100%; height: 50px;
    margin-top: 20px; padding: 0 18px;
    background: #f6f7f8;
    h4{font-size: 14px;}
    .share{
      margin-left: 16px;
      >*+*{margin-left: 10px;}
      a{width: 28px; height: 28px; display: block; text-indent: -9999em;}
      &__ms{background: url("#{$img-path}/social.png") no-repeat 0 0;}
      &__face{background: url("#{$img-path}/social.png") no-repeat -38px 0;}
      &__g{background: url("#{$img-path}/social.png") no-repeat -76px 0;}
      &__p{background: url("#{$img-path}/social.png") no-repeat -114px 0;}
      &__in{background: url("#{$img-path}/social.png") no-repeat -152px 0;}
    }
    .icon-like{width: 19px; height: 16px; background-position: -30px -48px; margin-right: 7px;}
  }
}
.product_info{
  h2{margin-bottom: 20px; font-size: 22px; line-height: 36px;}
  h4{font-size: 14px;}
  .rating{
    width: 66px; height: 13px;
    background: url("#{$img-path}/star1.png") repeat;
    position: relative;
    &__value{width: 80%; height: 100%; position: absolute; top: 0; left: 0; background: url("../img/star.png") repeat;}
  }
  .rating_amount{
    margin: 0 11px 0 5px;
    span{
      width: 30px;
      height: 24px;
      margin-right: 7px;
      border-radius: 4px;
      background-color: #fed857;
    }
  }
  .selled{background: #f2f2f4; border-radius: 4px; padding: 2.5px 12px;}
  .price{
    background: #f6f7f8;
    margin-top: 18px;
    padding: 11px 19px;
    .txt{width: 100%; margin-top: 5px;}
    &__new{
      color: #ee2c3c; font-size: 12px;
      span{font-size: 20px; font-weight: 600;}
    }
    &__old{
      display: flex;
      align-items: flex-end;
      margin-bottom: 5px;
      margin-left: 9px; font-size: 14px; font-weight: 600; color: #666666; text-decoration: line-through;
    }
    .space{font-weight: 500; margin: 0 5px;}
  }
  .transport{
    margin-top: 20px;
    &__icon{margin: 0 12px;}
    &__type{
      background: #00a14d;
      padding: 2px 13px;
      border-radius: 4px;
      color: #fff; font-size: 13px; font-weight: 700;
    }
    &__detail{
      margin-top: 15px;
      padding-left: 90px;
      p{margin-bottom: 10px;}
      span{margin-left: 18px;}
    }
    select{border: none;}
    select:focus{outline: none;}
  }
  .type{
    margin-top: 25px;
    h4{width: 90px;}
    &__list{
      margin: 0 -5px;
      li{margin: 5px;}
      span{display: block; background: #feecde; border-radius: 4px; padding: 3px 16px;}
    }
  }
  .select{
    margin-top: 30px;
    &__list{margin: 0 -5px;}
    h4{ margin-bottom: 13px;}
    label{margin: 5px; height: 35px;}
    input{opacity: 0; position: absolute;}
    span{
      margin-bottom: 10px;
      padding: 7px 14px;
      position: relative;
      border-radius: 4px;
      border: solid 1px #cccccc;
      background: #f6f7f8; cursor: pointer;
    }
    input:checked + span{background: #feecde; border-color: #f57d20; color: #f57d20;}
    .viewmore{margin-left: 5px; line-height: 27px;}
  }
  .amount{
    margin-top: 15px;
    &_inner{margin-top: 10px;}
    p{margin-left: 10px; line-height: 40px;}
    a{
      width: 40px; height: 40px;
      display: flex; align-items: center; justify-content: center;
      border: 1px solid #d9d9d9;
      background: #eee; color: #666; font-size: 26px;
    }
    input{
      width: 60px; height: 40px; padding: 0 10px; margin-left: 0 -1px;
      font-size: 16px; text-align: center;
      border: 1px solid #d9d9d9;
      border-left: none; border-right: none;
    }
  }
  .box-btn{
    margin: 28px -5px 0;
    a{width: 230px; height: 50px; margin: 5px; border-radius: 3px;}
    .btn_addcart{
      color: #f57d20; border: 1px solid #f57d20; background: #feecde;
      &:hover{background: #ffe2cb;}
    }
    .btn_buy{
      background: #ee2c3c; color: #fff;
      &:hover{background: #f51e2f;}
    }
    .icon-cart{width: 24px; height: 21px; margin-right: 10px; background-position: -25px -103px;}
  }
}
.shop{
  padding: 20px;
  margin-top: 26px;
  background: #fff;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  &__avatar{
    margin-right: 19px;
    img{width: 102px; height: 102px; object-fit: cover; border-radius: 50%;}
  }
  &__cre{
    margin-left: 30px;
    >*+*{margin-left: 40px;}
    li{display: flex; align-items: center;}
    .icon{width: 50px; height: 50px; margin-right: 17px; background: url("#{$img-path}/at1.png") no-repeat 0 0;}
    .icon1{background-position: 0 0;}
    .icon2{background-position: -52px 0;}
    .icon3{background-position: -105px 0;}
  }
  .box-btn{
    margin-top: 10px;
    >*+*{margin-left: 10px;}
    a{padding: 7px 15px; min-width: 100px; border-radius: 3px;}
  }
  h5{font-size: 18px; font-weight: 600;}
}
.info_detail{
  margin-top: 30px;
  background: #fff;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  h4{display: block; padding: 15px 29px; background: #f6f7f8; font-size: 16px; font-weight: 600;}
  article{
    height: 650px;
    overflow: hidden;
    padding: 25px 30px;
    position: relative;
    &::after{
      content: "";
      width: 100%; height: 150px;
      background: linear-gradient(to top,#fff,rgba(#fff,0));
      position: absolute; bottom: 0; left: 0;
    }
    &.show{
      height: auto;
      padding-bottom: 100px;
      .btn_viewfull{display: none;}
      .btn_collapse{display: block;}
    }
  }
  .table-info {
    margin: 30px; background: #fff; border: 1px solid #d9d9d9;
    >*+*{border-top: 1px solid #d9d9d9;}
    p{padding: 11px 19px; color: #111;}
    p span{width: 130px; display: inline-block; color: #999;}
  }
  .btn_viewfull,.btn_collapse{
    width: 270px; height: 40px;
    margin: 0 auto;
    background: rgba(#f57d20,.5);
    border: 1px solid #f57d20;
    font-size: 14px;
    font-weight: 700; color: #fff;
    position: absolute;
    bottom: 10px; left: 50%; transform: translateX(-50%);
    z-index: 2;
  }
  .btn_collapse{display: none;}
}
.comment{
  margin-top: 30px;
  padding: 15px 30px;
  background: #fff;
  &__header{
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
  }
  &__item{
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    align-items: flex-start;
    &:last-child{border-bottom: none;}
  }
  .avatar{
    width: 70px; height: 70px; border-radius: 50%; overflow: hidden;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .info{
    width: calc(100% - 70px);
    padding-left: 14px;
    .name{font-size: 15px; margin: 5px 0 7px;}
    .rating{
      width: 66px; height: 13px;
      margin-right: 8px;
      background: url("#{$img-path}/star1.png") repeat;
      position: relative;
      &__value{width: 80%; height: 100%; position: absolute; top: 0; left: 0; background: url("../img/star.png") repeat;}
    }
    .content{margin-top: 15px;}
    &__img{
      margin: 11px 0 14px;
      >*+*{margin-left: 10px;}
      img{width: 70px; height: 70px; object-fit: cover;}
    }
    time{margin-top: 2px; font-size: 12px;}
  }
  .feedback{
    padding: 15px;
    background: #f2f2f4;
    h5{margin-bottom: 7px; font-size: 12px;}
  }
  .pagination{
    padding: 0 0 15px;
    justify-content: flex-end;
    .icon{width: 35px; height: 35px; border-radius: 3px;}
    .page-link,span{
      width: 35px; height: 35px; display: block;  margin: 0 2px;
      border: 1px solid #e4e4e4; color: #666;
      text-align: center; line-height: 35px; font-size: 12px;
    }
    .page-item.active .page-link{color: #fff; background: #f57d20; font-size: 12px;}
  }
}
.discount{
  margin-top: 30px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding-bottom: 10px;
  &__header{
    margin-bottom: 20px;
    text-align: center;
    img{display: block; margin: 0 auto;}
    h4{margin-bottom: 8px; font-size: 18px; font-weight: 600;}
  }
  &__item{
    width: 250px; height: 121px;
    padding: 17px 19px 10px;
    margin: 0 auto 14px;
    background: url("#{$img-path}/bg-color.png") no-repeat;
    position: relative;
    h5{
      max-width: 130px; margin-bottom: 0; font-weight: 600; font-size: 14px; line-height: 24px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    time{font-size: 12px; color: #999;}
    .btn_saved,.btn_save{
      width: 60px;
      height: 30px;
      border-radius: 3px;
      color: #fff; font-size: 13px;
      position: absolute;
      right: 19px; top: 50%; transform: translateY(-50%);
    }
    .btn_saved{background: #ee2c3c;}
    .btn_save{background: #f57d20;}
    .viewmore{
      display: block;
      margin-top: 7px;
      font-weight: 600;
    }
  }
}
.product_selling{
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  h2{width: 100%; padding: 8px 0 3px; text-transform: uppercase; font-size: 14px;}
  .product{
    padding: 15px 0;
    h3{margin: 14px 0 2px;}
  }
  .slick-arrow{top: -12px;}
  .slick-prev{right: 45px;}
  .slick-next{right: 0;}
}
.product_like{
  margin-top: 30px;
  background: #fff;
  h2{padding: 15px 20px; font-weight: 600; text-transform: uppercase; font-size: 14px; border-bottom: 1px solid #e4e4e4;}
  .product{
    display: flex !important; padding: 20px;
    background: #fff;
    &:hover{box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2); position: relative; z-index: 9;}
    &__thumb{width: 80px; height: 80px; display: block; padding-bottom: 0;}
    &__detail{
      width: calc(100% - 80px); padding: 2px 10px;
      display: flex; flex-direction: column; justify-content: space-between;
    }
    h3{font-size: 14px; line-height: 21px;}
    img{width: 100%; height: 100%; object-fit: cover;}
    span{color: #ee2c3c;}
  }
  .slick-list{padding: 0 0 10px;}
}
.filter{
  box-shadow: 0px 1px 1px 0 rgba(51, 51, 51, 0.15);
  background: #fff;
  padding-bottom: 25px;
  .icon-filter{width: 14px; height: 14px; display: block; margin-right: 15px; background-position: -35px -66px;}
  &__item{
    padding: 24px 10px 0 14px;
    &--brand,&--size{
      form{padding-right: 4px;}
      label{margin-top: 12px;}
      input[type="text"]{
        width: 100%; height: 35px;
        padding: 0 10px 0 36px; border-radius: 4px; border: solid 1px #d1d1d1;
        background: url("#{$img-path}/icon-s.png") no-repeat 10px center;
      }
      input::placeholder{color: #111;}
    }
    &--price{
      .price{
        width: 115px; height: 30px;
        justify-content: space-between;
        padding: 0 5px;
        border-radius: 4px;
        border: solid 1px #cccccc;
        color: #999; font-size: 13px;
        position: relative;
      }
      select{
        width: 100%; height: 100%;
        color: #999; font-size: 11px; border: none; -webkit-appearance: none;
        padding: 0px 15px 0 33px; background: none;
        position: absolute; top:0; left: 0;
      }
      select:focus{outline: none;}
      .space{
        padding: 0 5px;
        line-height: 28px;
        color: #999;
      }
    }
  }
  &__list{
    >*+*{margin-top: 12px;}
    li{padding: 1px 0;}
  }
  &__sub{
    display: none;
    margin: 16px 0 5px;
    >*+*{margin-top: 12px;}
  }
  .active{
    .filter__sub{display: block;}
    h5{color: #f57d20; font-weight: 600;}
    h5::after{background: url("#{$img-path}/icons.png") no-repeat -37px -91px;}
  }
  .toggle-filter{
    display: none;
    background: #fff;
    padding: 15px;
    position: fixed; left: 0; top: 50%;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.15);
    i{margin-right: 0;}
  }
  h2{padding: 16px 14px; background: #f7f8f9; font-size: 15px;}
  h4{margin-bottom: 14px; font-size: 14px; font-weight: 600; text-transform: uppercase;}
  h5{
    margin-bottom: 0; font-size: 14px;
    display: flex; align-items: center; justify-content: space-between; cursor: pointer;
    &::after{
      content: "";
      width: 12px; height: 8px;
      display: block;
      background: url("#{$img-path}/icons.png") no-repeat -37px -82px;
    }
  }
  input[type="checkbox"]{width: 16px; height: 16px; margin-right: 8px; border: 1px solid #ccc;}
  label{margin-bottom: 0; display: flex; align-items: center;}
  .rating{
    width: 95px; height: 18px;
    margin-right: 9px;
    background: url("#{$img-path}/star3.png") repeat;
    position: relative;
    &__value{height: 100%; background: url("#{$img-path}/star4.png") repeat; position: absolute; top: 0; left: 0;}
  }
  .viewmore{display: block; margin-top: 14px;}
}
.slider_sale{
  height: 250px;
}
.sort{
  h5{margin: 0 35px 0 0;}
  .btn_sort,select{border-radius: 4px; background-color: #f2f2f4;}
  .btn_sort{
    padding: 8px 20px;
    margin: 5px;
    &.active{background: #f57d20; color: #fff;}
  }
  select{padding: 0 30px 0 15px; border: none; height: 34px;}
  select:focus{outline: none;}
}
.product-category{
  .header{padding: 3px 20px; margin-bottom: 10px;}
}
.product-flashsale{
  .header{padding: 0;}
  .rw2{padding: 8px 20px; border-top: 1px solid #e4e4e4;}
  .rw1{padding: 18px 20px;}
}
.cart,.favourite{
  &__header{
    padding: 15px 0;
    margin-bottom: 30px;
    background: #fff;
    h4{font-size: 22px; color: #666;}
    h5{margin: 0 20px 0 0;}
    .icon-cart{margin-right: 9px; width: 20px; height: 20px; background-position: -29px -147px;}
    .icon-transport{margin-right: 12px;
      width: 28px; height: 26px; background-position: 0 -164px;}
    span{display: block; font-weight: 600;}
    .space{height: 50px; width: 1px; margin: 0 25px; background: #d9d9d9;}
    select{border: none;}
    select:focus{outline: none;}
  }
  &__head{
    padding: 14px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #e4e4e4;
  }
  &__list{
    margin-bottom: 19px;
    border: 1px solid #e4e4e4;
    .header{padding: 10px 14px; background: #fff; border-bottom: 1px solid #e4e4e4;}
    .btn_remove{
      color: #f57d20;
      &:hover{color: #111;}
    }
    .price{font-weight: 600;}
    label{margin: 5px 0;}
  }

  .cl-1{width: 735px;}
  .cl-2{width: 120px;}
  .cl-3{width: 150px;}
  .cl-4{width: 110px;}
  .cl-5{width: 25px;}
}
.cart,.favourite,.paycart{
  .payment{
    background: #fff; margin: 80px 0 -68px;
    &__item{background: #fff; padding: 15px 0; border-bottom: 1px solid #e4e4e4;}
    .method{
      justify-content: flex-end;
      h5{margin-bottom: 0; min-width: 300px;}
      a{color: #f57d20;}
      span{margin-right: 10px;}
    }
    .voucher{
      p{min-width: 320px;}
      span{display: inline-block; margin-left: 40px; background: #0c8cee; color: #fff; font-size: 12px; border-radius: 4px; padding: 2px 10px;}
    }
    label{margin-bottom: 0;}
    label{text-transform: uppercase;}
    .price{
      font-size: 12px;
      font-weight: 700;
      color: #e33b45;
      span{font-size: 18px;}
    }
    .txt{
      align-items: center;
      padding-left: 30px;
      font-size: 16px; font-weight: 600; text-align: right;
      span{display: block; font-size: 13px; color: #f57d20; font-weight: normal;}
    }
  }
  .product{
    &__thumb{width: 70px; height: 70px; padding-bottom: 0;}
    &__content{width: calc(100% - 70px); max-width: 300px; padding-left: 11px;}
    h3{font-weight: 600;}
    p{font-size: 13px;}
  }
  .type{
    padding: 0 15px 0 40px;
    span{color: #f57d20;}
  }
  .item{padding: 20px 14px; background: #fff; border-bottom: 1px solid #e4e4e4;}
  .item:last-child{border-bottom: none;}
  h2.brand{
    font-weight: 600;  font-size: 14px; line-height: 20px;
  }
  .btn_chat{
    width: 75px;
    height: 26px;
    margin-left: 26px;
    border-radius: 4px;
    background-color: #00b482;
    font-size: 13px; color: #fff; font-weight: 600;
  }
  .btn_voucher{
    color: #f57d20;
    &:hover{text-decoration: underline;}
  }
  .btn_buy_continue{
    width: 200px; height: 50px;
    border-radius: 4px;
    background: #d9d9d9;
    &:hover{background: #cac9c9; color: #111;}
  }
  .btn_pay{
    width: 400px;
    height: 50px;
    border-radius: 4px;
    background: #f57d20;
    font-size: 16px;
    color: #fff;
    &:hover{background: #df7320; color: #fff;}
  }
  .icon-chat{margin: 1px 8px 0 0; width: 18px; height: 16px; background-position: -31px -168px;}
  .icon-voucher{margin-right: 10px; width: 20px; height: 16px; background-position: -1px -210px; vertical-align: middle;}
  .icon-buy{margin-right: 12px; width: 17px; height: 18px; background-position: -1px -191px;}
}
.paycart{
  &__brand{margin-top: 35px; border: 1px solid #e4e4e4;}
  &__header{
    background: #fff;
    padding: 26px 0;
    h4{color: #f57d20; font-size: 22px;}
    .icon-cart{width: 21px; height: 19px; margin-right: 8px; background-position: -21px -191px;}
  }
  .header{background: #fff;}
  &__bottom{
    background: #fff;
    .voucher{
      justify-content: flex-end;
      padding: 17px 40px;
      border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4;
      p{width: 100%; max-width: 400px;}
    }
  }
  .header{padding: 14px; border-bottom: 1px solid #e4e4e4; color: #999;}
  .total{font-weight: 600;}
  .product h3{min-height: auto; margin-bottom: 2px;}
  .transport{
    padding: 15px 40px;
    justify-content: space-between;
    > div{margin: 5px 0;}
    h5{margin-bottom: 10px; white-space: nowrap;}
    input,textarea{
      width: 270px;
      height: 40px;
      background-color: #f2f2f4;
      padding: 0 19px; color: #999;
      border: none;
    }
    select{
      border: none; color: #f57c00;
      &:focus{outline: none;}
    }
    &__note{flex-wrap: nowrap;}
    &__method{
      > *+*{margin-top: 15px;}
      h5{min-width: 380px;}
      a,span{display: block; color: #111;}
    }
  }
  .total_pay{
    justify-content: flex-end;
    padding: 14px 40px;
    border-top: 1px solid #e4e4e4;
    font-weight: 700;
    p{min-width: 380px;}
  }
  .address{
    margin-top: 40px;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid #e4e4e4;
    border-top: 3px solid #fe5f1a;
    h4{
      margin-bottom: 30px;
      font-size: 16px; line-height: 30px;
      padding-left: 45px; background: url("#{$img-path}/icon-add.png") no-repeat left center;
    }
    h5{font-weight: 700; margin-right: 50px;}
    span{display: block;}
  }
  .box-btn{
    position: absolute; right: 15px; top: 20px;
    a{margin: 0 5px; padding: 6px 16px;}
  }
  .info_pay{
    div{margin-bottom: 10px; display: flex;}
    span{margin-left: auto;}
    b{display: block;}
    .total{
      align-items: flex-start;
      p{text-align: right;}
      .amount{color: #f57c00; text-align: right; font-weight: normal;}
    }
    .price{
      align-items: center;
      span{font-size: 18px; margin-left: 5px;}
    }
  }
  h2{padding-left: 0; font-size: 14px; font-weight: 600; background: none; color: #111;}
  .cl-1{width: 710px;}
  .cl-2{width: 180px;}
  .cl-3{width: 145px;}
  .cl-4{width: 105px;}
}
.favourite{
  &__header h4{font-size: 20px;}
  &__btn{background: #fff; margin: 80px 0 -68px;}
  &__list{
    h2{background: none; padding-left: 0;}
  }
  .cl-1 .product{padding-left: 0; background: none;}
  h2{font-size: 14px; font-weight: 600;}
  .btn_buy{margin-right: 30px; width: 120px; height: 40px;}
  .cl-1{width: 770px;}
  .cl-2{width: 175px;}
  .cl-3{width: 190px;}
  .icon-like{width: 21px; height: 19px; margin-right: 5px; background-position: -1px -227px; vertical-align: middle;}
}
.bank_acount{
  margin-top: 20px;
  padding: 20px 30px;
  background: #fff;
  h4{font-size: 18px;}
  .btn_add_account{width: 130px; height: 40px;}
  .account{
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 0.5px;
    box-shadow: 0px 1px 30px 0 rgba(51, 51, 51, 0.2);
    .df{background: #07a917;}
    .not_accuracy,.df{ margin-left: 5px; padding: 2px 10px; border-radius: 9px; color: #fff; font-size: 12px; text-transform: none;}
    .accuracy{width: 18px; height: 18px; margin-left: 6px; background: url("#{$img-path}/icon-tick2.png") no-repeat;}
    .not_accuracy{background: #999999;}
    .btn_set_defalt{
      width: 150px; height: 40px; margin-left: 11px;
      &.set{color: #999;}
    }
    &__img{width: 70px; height: 70px; padding: 15px; border: 1px solid #7ecfd4;}
    &__content{
      max-width: 430px;
      padding-left: 12px;
      h5{margin-bottom: 10px; font-weight: 600; font-size: 15px; text-transform: uppercase;}
    }
  }
}
.box-order{
  padding-bottom: 10px;
  .tab{
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.15);
    flex-wrap: nowrap;
    border-radius: 4px;
    overflow: auto;
    overflow-y: hidden;
    a{display: block; padding: 15px 14px; position: relative; white-space: nowrap;}
    .active{color: #f57d20; font-weight: 700;}
  }
  .order{
    margin-bottom: 15px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    .avt{width: 30px; height: 30px; object-fit: cover; border-radius: 50%; margin-right: 11px;}
    .id{text-align: right;}
    .id span{font-weight: 700; color: #e00000;}
    &__header{
      padding: 5px 5px 15px; border-bottom:  1px solid #f2f2f4;
      strong{margin-right: 10px;}
    }
    &__bottom{
      min-height: 50px;
      padding: 7px 12px;
      background: #f9f9f9;
    }
    &__summary{
      border-top: 1px solid #f2f2f4;
      padding: 20px;
      div{max-width: 50%; margin-left: auto;}
      >*+*{margin-top: 10px;}
      p{width: 180px; text-align: right;}
      .icon-voucher{width: 20px; height: 16px; margin-right: 10px; background-position: -1px -210px;}
    }
  }
  .item{padding: 15px 5px; border-bottom: 1px solid #f2f2f4;}
  .item:last-child{border-bottom: none;}
  .product{
    &__thumb{width: 60px; height: 60px; padding-bottom: 0;}
    &__content{width: calc(100% - 60px); max-width: 300px; padding-left: 10px;}
    h3{font-weight: 600; min-height: auto;}
    p{font-size: 13px;}
  }
  .type{padding: 0 20px;}
  .price{
    margin: 8px 0;
    font-weight: 700;
    text-align: right;
    span{font-weight: 400; margin-right: 15px; margin-top: 2px;}
  }
  .box-btn{
    a{
      padding: 5px 12px; background: #fff; margin: 5px 10px 5px 0;  color: #111; font-size: 13px; border-radius: 4px;
      &:hover{background: #f57d20; color: #fff;}
    }
    .btn_sub{
      background: #f57d20; color: #fff;
      &:hover{background: #df7320; color: #fff;}
    }
  }
  .status_order{
    margin-left: auto;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 13px;
    &.received{background: #f57d20; color: #fff;}
  }
  .total{
    font-size: 18px;
    span{color: #e00000; font-weight: 700;}
  }
  .btn_contact{
    margin: 2px 0; padding: 4px 11px; background: #f2f2f4; border-radius: 4px; color: #111; font-size: 13px;
    &:hover{background: #f57d20; color: #fff;}
  }
  .btn_back{padding-left: 15px; color: #999; font-size: 18px; background: url("#{$img-path}/icon-arr1.png") no-repeat left center;}
}
.notification{
  .tab{
    background: #fff;
    padding: 7px 12px; margin-bottom: 10px;
    a{display: block; padding: 8px 18px; margin: 5px 10px 5px 0; border-radius: 4px; border: solid 1px #e4e4e4; background-color: #f2f2f4;}
    .active{background: #feecde; border: 1px solid #f57d20; color: #f57d20;}
  }
  .tab-pane{background: #fff; padding: 5px;}
  .post{
    margin-bottom: 5px;
    padding: 20px 10px;
    background: #f2f2f4;
    align-items: center;
    &:nth-child(1),&:nth-child(2){background: #dbf2dd;}
    h3{margin-bottom: 5px; font-weight: 600; font-size: 15px;}
    p{color: #444; line-height: 21px;}
    .btn_view{
      padding: 8px 16px;
      background: #fff;
      border: 1px solid #e4e4e4;
    }
    &__thumb{
      width: 80px; height: 80px;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__content{width: calc(100% - 220px); margin-top: 0; padding-left: 15px;}
  }
  .post-deal{
    &:nth-child(1),&:nth-child(2){background: #fceddf;}
    .post__thumb{width: 208px; height: 80px;}
    .post__content{width: calc(100% - 330px);}
  }
}

.order-process{
  padding: 20px;
  margin: 20px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.15);
  .head{
    span{font-size: 18px; font-weight: 700; color: #fd0000;}
    .status{margin-left: 10px; border-radius: 12px; background: #15b042; padding: 3px 14px; color: #fff; font-size: 13px;}
  }
  .process{
    width: 95%;
    margin: 30px auto;
    flex-wrap: nowrap;
    position: relative;
    &::after{
      content: "";
      width: 93%; height: 3px; background: #d9d9d9;
      position: absolute; top: 68px; left: 50%; transform: translateX(-50%);
    }
    &_cancel::after{width: 40%;}
    /*>*+*{margin-left: 21.1%;}*/
    li{
      width: 33%; position: relative;
      &::before,&::after{content: ""; position: absolute;}
    }
    li:last-child{width: 75px; margin-right: -15px;}
    li::before{
      width: 10px; height: 10px;
      background: #ccc; border-radius: 50%;
      left: 21px; top: 64px;  z-index: 2;
    }
    p{width: 75px; margin: 35px 0 0 -10px; color: #333; text-align: center;}
    .box-icon{
      width: 50px; height: 57px;
      padding-bottom: 7px;
      background: url("#{$img-path}/cr2.png") no-repeat 0 0/contain;
    }
    .icon-1{width: 26px; height: 25px; background-position: -51px 0;}
    .icon-2{width: 23px; height: 26px; background-position: -50px -26px;}
    .icon-3{width: 26px; height: 26px; background-position: -51px -55px;}
    .icon-4{width: 26px; height: 19px; background-position: -52px -115px;}
    .icon-5{width: 19px; height: 18px; background-position: -53px -161px;}
    .active{
      &::after{
        height: 3px; width: calc(100% + 0px); background: #15b042;
        top: 68px; left: 21px; z-index: 9;
      }
      .box-icon{ background: url("#{$img-path}/cr1.png") no-repeat 0 0/contain;}
      .icon-2{background-position: -75px -27px;}
      .icon-3{background-position: -53px -84px;}
      .icon-4{background-position: -53px -137px;}
      &::before{background: #15b042;}
    }
    .pending{
      &::before{background: #febc18;}
      &::after{
        height: 3px; width: 150px; top: 68px; left: -129px;
        background: linear-gradient(to left,#febc18,rgba(#febc18,.2)); z-index: 9;
      }
      .box-icon{ background: url("#{$img-path}/cr3.png") no-repeat 0 0/contain;}
      .icon-4{background-position: -53px -137px;}
    }
    .cancel{
      &::before{background: #999;}
      &::after{
        height: 3px; width: 150px; top: 68px; left: -129px;
        background: linear-gradient(to left,#999999,rgba(#999999,.2)); z-index: 9;
      }
      .box-icon{ background: url("#{$img-path}/cr4.png") no-repeat 0 0/contain;}
    }
  }
  .box-info{
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    h4{display: block; padding: 10px 20px; color: #333; border-bottom: 1px solid #d9d9d9; text-transform: uppercase; background: #f2f2f4;}
  }
  .col-left{width: 220px; border-right: 1px solid #d9d9d9;}
  .col-right{width: calc(100% - 220px);}
  .info,.history{padding: 40px 20px;}
  .info{
    strong,p{display: block; margin-bottom: 6px;}
  }
  .history{
    >*+*{padding-top: 30px;}
    p{
      padding-left: 26px;
      position: relative;
      &::after,&::before{
        content: "";
        position: absolute;
      }
      &::before{
        width: 10px;
        height: 10px;
        background: #999999;
        border-radius: 50%; left: 0; bottom: 4px; z-index: 2;
      }
      &::after{
        width: 2px; height: 100%; background: #d9d9d9;
        left: 4px; top: 5px;
      }
    }
    p:last-child::after{top: -5px;}
    .active::before{background: #15b042;}
    time{color: #777777; margin-right: 15px;}
  }
  .bottom{
    margin: 0 -20px;
    padding: 20px 20px 0;
    border-top: 1px solid #d9d9d9;
    a{padding: 11px 26px;}
    .btn_buy{
      background: #f47a47; border-radius: 4px; color: #fff;
      &:hover{background: #f2652a;}
    }
    .review{padding: 0; color: #f57c00;}
  }
  .btns{
    a{margin: 5px;}
  }
}

//login
.login,.register{
  width: 100%; min-height: 650px;
  padding: 55px 0;
  margin-bottom: -68px;
  background: url("#{$img-path}/bg-login.jpg") no-repeat 0 0/cover;
  .intro{
    width: 100%;
    text-align: center;
    max-width: 525px;
    .logo{display: block; width: 125px; margin: 0 auto 40px;}
    p{margin-bottom: 10px; color: #fff; font-size: 20px; font-style: italic;}
  }
  form{
    width: 100%; max-width: 500px;
    padding: 35px 40px 40px;
    background: #fff;
    border-radius: 4px;
    h4{margin-bottom: 26px; font-size: 20px; line-height: 24px; font-weight: 600;}
    h5{color: #666; margin: 7px 0 15px;}
  }
}
.login,.register,.modal_password{
  .form-group{
    height: 60px;
    padding: 10px 20px 0;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    position: relative;
    &.focus{
      label.error{display: none;}
    }
    &.error{border: 1px solid #ee2c3c;}
  }
  .form-action{
    margin-top: 30px;
    justify-content: flex-end;
  }
  label{
    display: block; margin-bottom: 0; font-size: 12px; color: #111; text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  label.error{
    font-size: 14px; color: #ee2c3c;
    text-transform: none;
    position: absolute; bottom: 5px;
  }
  input{border: none; width: 80%; height: 30px; background: transparent; font-size: 16px; font-weight: 600; position: relative; z-index: 2;}
  input::placeholder{color: #999;}
  input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .phone{width: 60%;}
  .btn_send_otp{
    color: #f57d20;
    font-weight: 700;
    position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
  }
  .btn_register,.btn_login{font-size: 16px; margin-right: 22px;}
  .btn_submit{width: 170px; height: 50px;}
  .btn_back{margin-right: 35px;}
  .rule{
    p{margin: 5px 0; color: #666; display: flex; align-items: center;}
    p::before{
      content:"";
      width: 13px; height: 13px;
      display: block; margin-right: 8px;
      background: url("#{$img-path}/icon-tick3.png") no-repeat 0 0/contain;
    }
    p.active{color: #11a21b;}
    p.active::before{background: url("#{$img-path}/icon-tick2.png") no-repeat 0 0/contain;}
  }
  .login-other{
    h5{margin: 20px 0; text-align: center; font-size: 16px; color: #999;}
  }
  .line{
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 16px; color: #999;
    span{padding: 0 30px;}
    &::after,&::before{
      content: "";
      height: 1px; width: 100%;
      background: #e4e4e4;
    }
  }
  .box-btn{
    justify-content: center;
    >*+*{margin-left: 20px;}
    a{width: 200px; height: 40px; border-radius: 4px; color: #fff; text-align: center; line-height: 40px; position: relative;}
    .login-facebook{background: #4267b2;}
    .login-google{background: #ee2c3c;}
    .icon{position: absolute; left: 20px; top: 50%; transform: translateY(-50%);}
    .icon-face{width: 8px; height: 14px; background-position: -24px -212px;}
    .icon-google{width: 16px; height: 10px; background-position: -25px -229px;}
  }
  sup{color: #f57d20}
}
.login{
  .form-group{margin-bottom: 20px;}
  .forgot-password{margin-top: -10px; padding: 5px 0; text-align: right;}
  .form-action{margin-top: 10px;}
}
.register .line{margin: 25px 0;}
.toggle-password{
  position: absolute;
  top: 20px;
  right: 10px;
  i{font-size: 20px; color: #999; cursor: pointer;}
  .hide{display: none;}
  &.show{
    .hide{display: block;}
    .show{display: none;}
  }
}

//profile
.profile{
  h2{font-size: 18px; margin: 15px 0;}
  &__banner{margin: 30px 0;}
  &__info{
    margin-bottom: 25px;
    img{width: 70px; height: 70px; object-fit: cover; border-radius: 50%;}
    p{margin-bottom: 4px; font-size: 16px; font-weight: 900;}
    span{font-size: 13px; color: #999; font-style: italic;}
    > div{padding-left: 13px;}
  }
  &__nav{
    ul {
      padding-left: 42px; display: none;
      li{padding: 6px 0;}
      .active{color: #f57d20;}
    }
    li{list-style: none;}
    h5{display: flex; align-items: center; margin-bottom: 0; padding: 7px; font-size: 14px; cursor: pointer;}
    h5 a{display: flex; align-items: center;}
    span{flex: 1;}
    .active,.current{
      ul{display: block;}
      h5{font-weight: 600; background-image: linear-gradient(to left, #fff, rgba(#fff,.1));}
    }
    .icon{width: 26px; height: 26px; margin-right: 10px; background: url("#{$img-path}/icon-profile.png") no-repeat 0 0;}
    .icon-pr1{background-position: 0 -1px;}
    .icon-pr2{background-position: 0 -28px;}
    .icon-pr3{background-position: 0 -55px;}
    .icon-pr4{background-position: 0 -83px;}
    .icon-pr5{background-position: 0 -110px;}
  }
  &__detail{
    padding: 30px;
    background: #fff;
    .form-group{display: flex; flex-wrap: wrap; align-items: center;}
    label{margin: 5px 0; width: 160px;}
    input{
      width: 100%;
      padding: 0 15px;
      max-width: 300px;
      height: 36px;
      border-radius: 4px;
      border: solid 1px #d9d9d9;
      color: #111;
    }
    input[type="file"]{border: none; width: auto; height: auto; padding: 0;}
    .username{color: #111;}
    .img-avatar{
      width: 60px; height: 60px; border-radius: 50%; margin: 10px 20px; overflow: hidden;
      .cancel{top: 15px; right: 5px;}
    }
    .img-cover{
      max-width: 350px;
      height: 60px; margin: 10px 20px; overflow: hidden;
    }
    .img{
      height: 100%;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    .form-action{
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid #e4e4e4;
      button{padding: 6px 20px; margin-right: 10px;}
    }
    .note{width: 100%; margin-top: 5px; color: #999; font-size: 12px; padding-left: 160px;}
    .cancel{font-size: 11px; padding: 0 2px;background: #c00; position: absolute; right: 0; top: 0; color: #fff;}
  }
  .checkbox{
    width: auto;
    margin-right: 25px;
    .checked{
      width: 18px; height: 18px; margin-right: 7px;
      border: 1px solid #e4e4e4; border-radius: 50%; position: relative;
    }
    .checked::after{
      content: "";
      width: 8px; height: 8px;
      border-radius: 50%;
      background: #f57d20;
      display: none;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    }
    input:checked + span{
      background: none;
      border: 1px solid #f57d20;
      &::after{display: block;}
    }
  }
  .search{
    width: 100%;
    max-width: 370px;
    input{
      width: 100%;
      height: 40px;
      padding: 0 15px 0 45px;
      background: #e4e4e4 url("#{$img-path}/icon-s1.png") no-repeat 15px center;
      color: #999; border: none;

    }
  }
  .box-upload{
    input{opacity: 0; position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
    span{
      padding: 6px 18px;
      border-radius: 4px;
      border: solid 1px #d9d9d9;
      background-color: #f2f2f4;
    }
  }
}
.box-voucher,.modal_voucher{
  form{
    margin-bottom: 30px;
    padding: 30px;
    padding-left: 20px;
    background: #e4e4e4;
    h4{font-size: 16px;}
    input{height: 40px; width: 100%; max-width: 378px; margin: 0 20px; padding: 0 19px; border: 1px solid #e4e4e4; color: #999999;}
    button{width: 100px; height: 40px; border-radius: 0;}
  }
  .voucher{
    &__code{
      width: 150px; height: 100px;
      padding: 0 5px;
      background: url("#{$img-path}/bg-color1.png") no-repeat 0 0/cover;
      flex-direction: column;
      span{color: #fff; font-size: 14px; word-break: break-all; text-align: center;}
      span:first-child{font-size: 16px; font-weight: 700; font-style: italic;}
    }
    &__content{
      width: calc(100% - 150px); padding-left: 15px;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #e4e4e4;
    }
    p{max-width: 415px;}
  }
  .voucher_list{
    >*+*{margin-top: 20px;}
  }
}
.box-voucher{
  .voucher-form,.voucher-list{background: #fff; margin-bottom: 10px; padding: 10px;}
  form{
    margin-bottom: 0; background: #f1f1f1; padding: 20px; flex-wrap: nowrap;
    input{max-width: 570px;}
  }
  .tab{
    border-bottom: 1px solid #d9d9d9;
    a{display: block; padding: 10px 18px; color: #f57d20; font-size: 16px; position: relative;}
    .active::after{
      content: "";
      width: 100%; height: 2px; background: #f17f51;
      position: absolute; left: 0; bottom: -1px;
    }
  }
  .tab_sub{
    margin: 18px -5px;
    a{display: block; margin: 5px; padding: 8.5px 23px; border-radius: 4px; background: #f2f2f4;}
    .active{background: #f8d9cb;}
  }
  .voucher{
    margin-bottom: 10px;
    &__content{padding-right: 100px;}
    .condition{color: #f57d20; position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}
  }
}
.voucher-detail{
  width: 100%; max-width: 500px; min-height: 500px;
  margin: 100px auto 0; padding: 97px 0 0;
  background: #fff url("#{$img-path}/bg-voucher.jpg") no-repeat top center/contain;
  box-shadow: 0px 1px 30px 0 rgba(51, 51, 51, 0.2);
  .voucher{
    padding: 0 15px;
    &__code{
      width: 150px; min-height: 100px; background: url("#{$img-path}/bg-color2.png") no-repeat 0 0/cover; flex-direction: column;
      span{color: #fff; font-size: 14px;}
      span:first-child{font-size: 16px; font-weight: 700; font-style: italic;}
    }
    &__content{
      width: calc(100% - 150px); padding: 12px;
      background: #fff;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 1px 30px 0 rgba(51, 51, 51, 0.2);
    }
  }
  article{
    padding: 40px;
    line-height: 22px;
    >*+*{margin-top: .5rem;}
  }
  .box-btn{
    padding: 15px 25px;
    box-shadow: 0px 1px 30px 0 rgba(51, 51, 51, 0.2);
    a{width: 100%; height: 40px; border-radius: 0;}
  }
}

//support
.support{
  width: 100%; min-height: 1180px;
  margin-bottom: -68px; padding: 60px 0;
  background: url("#{$img-path}/bg-sp.jpg") no-repeat 0 0/cover;
  &__nav{
    >*+*{margin-top: 8px;}
    a{
      display: flex;
      align-items: center; justify-content: center;
      padding: 0 5px;
      text-align: center;
      border-radius: 4px;
      height: 40px;
      border: solid 1px #fff;
      color: #fff;
    }
    a.active{background: #fff; color: #111;}
    a:hover{color: #fff; background: #f2a26a;}
    li:last-child{
      &::before{
        content: "";
        width: 1px; height: 60px; background: #fff;
        display: block; margin: 15px auto 20px;
      }
    }
  }
  &__content{
    background: #fff; padding: 60px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0px 1px 30px 0 rgba(51, 51, 51, 0.2);
    h2{font-size: 28px; margin-bottom: 40px;}
    h4{font-size: 16px; font-weight: 700;}
  }
  &__bottom{
    padding: 30px 60px;
    background: #fff;
    box-shadow: 0px 1px 30px 0 rgba(51, 51, 51, 0.2);
    border-radius: 0 0 4px 4px;
    ul{
      justify-content: space-between;
      li{width: 48%; padding: 5px 0; list-style: none;}
    }
    h4{margin-bottom: 15px; font-size: 16px; font-weight: 700;}
    p{margin-bottom: 15px;}
    p:last-child{margin-bottom: 0;}
    .icon{margin-right: 13px;}
  }
  article{
    p{line-height: 26px; font-size: 16px;}
    img{display: block; margin: 10px auto;}
  }
  .faq{
    li{padding: 20px 0 0; border-bottom: 1px solid #f2f2f4;}
    article{
      padding: 15px;
      background: #f2f2f4;
      p{line-height: initial;}
    }
    h5{
      display: flex; align-items: center; margin-bottom: 20px; font-size: 16px; cursor: pointer;
      &::after{
        content: "";
        width: 12px; height: 8px; display: block;
        margin-left: 5px;
        background: url("#{$img-path}/icons.png") no-repeat -1px -297px;
      }
    }
    .active{
      border-bottom: none;
      h5{color: #f57d20;}
      h5::after{background: url("#{$img-path}/icons.png") no-repeat -2px -306px;}
      article{display: block;}
    }
  }
  .icon-email{width: 26px; height: 19px; background-position: -1px -274px;}
  .icon-phone{width: 26px; height: 23px; background-position: -1px -249px;}
}

//modal
.modal-filter,.modal-popup{
  width: 100%; height: 100%; display: none;
  background: rgba(#000,.5);
  position: fixed; left: 0; top: 0; z-index: 90;
  &.show{display: block;}
}
.modal{
  .modal-dialog{max-width: 720px;}
  .modal-header{
    padding: 22px 30px;
    border: none;
    h4{margin-bottom: 0; font-size: 20px;}
  }
  .modal-body{padding: 0 30px;}
  .modal-content{
    border-radius: 18px;
    h5{margin-bottom: 10px; font-size: 16px;}
  }
  .modal-footer{
    margin-top: 30px;
    padding: 30px;
    box-shadow: -0.1px -2px 3px 0 rgba(0, 0, 0, 0.1);
    .btn-done{width: 150px; height: 40px; border-radius: 0;}
    .btn-back{font-size: 16px; color: #666; margin-right: 35px;}
  }
  .checkbox{
    .checked{
      width: 26px; height: 26px; margin-right: 0;
      border: 1px solid #e4e4e4; border-radius: 50%; position: relative;
    }
    .checked::after{
      content: "";
      width: 16px; height: 16px;
      border-radius: 50%;
      background: #f57d20;
      display: none;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    }
    input:checked + span{
      background: none;
      border: 1px solid #f57d20;
      &::after{display: block;}
    }
  }
}
.modal_voucher{
  .modal-header h4{font-size: 24px;}
  .checkbox{position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}
  .voucher__list{
    max-height: 220px; padding-right: 5px; overflow: auto;
    >*+*{margin-top: 10px;}
    &::-webkit-scrollbar{width: 5px;}
    &::-webkit-scrollbar-track{background: #e4e4e4;}
    &::-webkit-scrollbar-thumb{background: #666;}
  }
}
.modal_change_address{
  .address{margin-bottom: 10px; padding: 15px 10px; border: 1px solid #e4e4e4;}
  .checkbox{
    margin-right: 10px;
    .checked{width: 20px; height: 20px;}
    .checked::after{width: 12px; height: 12px;}
  }
  .modal-content{
    h5{margin-bottom: 2px; font-weight: 700; font-size: 14px;}
    h5 span{margin-left: 5px; font-weight: 400; color: #f57d20;}
  }
  .address_list{
    max-height: 316px; padding-right: 5px; overflow: auto;
    &::-webkit-scrollbar{width: 5px;}
    &::-webkit-scrollbar-track{background: #e4e4e4;}
    &::-webkit-scrollbar-thumb{background: #666;}
  }
}
.modal_add_address{
  form{padding: 15px;}
  .form-group{margin-bottom: 10px;}
  label{width: 130px; margin: 5px 0;}
  input,select{height: 35px; width: 100%; max-width: 480px; border: 1px solid #d9d9d9; border-radius: 4px; padding: 0 15px;}
  sub{color: #e00000; vertical-align: super;}
  .modal-footer{margin-top: 0; box-shadow: none; border: none;}
}
.modal_password{
  .modal-dialog{max-width: 670px;}
  .modal-header{
    display: block;
    .close{position: absolute; right: 30px; top: 20px;}
    h4{margin-bottom: 15px; font-weight: 600;}
  }
  .modal-header{padding: 22px 45px;}
  .modal-body{padding: 0 45px 40px;}
  .form-group{margin-bottom: 20px;}
  .btn_send_otp{color: #999; font-weight: 400;}
}
.modal_notifi{
  .close{position: absolute; right: 15px; top: 5px;}
  .modal-dialog{max-width: 450px;}
  .modal-content{
    padding: 40px 35px;
    text-align: center;
    h4{font-size: 16px; font-weight: 700; margin-bottom: 10px; color: #f57d20;}
    img{display: block; margin: 0 auto 15px;}
    input,.btn_submit{height: 40px; width: 100%; border: 1px solid #e4e4e4; border-radius: 4px;}
    input{margin: 15px 0; padding: 0 15px;}
    .btn_submit{background: #f2f2f4;}
  }
  .box-btn{
    margin-top: 20px;
    a{padding: 7px 20px; margin: 0 5px;}
  }
}

.box-breadcrumb{
  padding: 12px;
  background: #fff;
  .breadcrumb{max-width: 1170px; margin: 0 auto;}
}
.breadcrumb{
  margin: 25px 0 13px;
  padding: 0;
  background: none;
  .breadcrumb-item.active{color: #999;}
  a{color: #999;}
  a:hover{color: #111;}
}
.pagination{
  width: 100%;
  margin-top: 15px;
  background: #fff;
  justify-content: center;
  .icon{width: 50px; height: 50px; display: block; background: url("#{$img-path}/icon-arr.png") no-repeat center center;}
  .icon-prev{transform: rotate(180deg);}
  .page-link{
    width: 50px; height: 50px; padding: 0;
    border: none; font-size: 18px; color: #111;
    text-align: center; line-height: 48px;
  }
  .page-item.active .page-link{
    color: #f57d20; background: none; border: none; font-size: 24px;
    &:hover{background: #e9ecef;}
  }
}
.search-txt{
  margin: -35px 0 15px;
  font-style: italic;
  span{font-weight: 700;}
}
.amount{
  flex-wrap: nowrap;
  a{
    width: 26px; height: 30px;
    display: flex; align-items: center; justify-content: center;
    border: 1px solid #e4e4e4;
    background: #f2f2f4; color: #666; font-size: 20px;
  }
  .redu_amount{border-radius: 3px 0 0 3px;}
  .add_amount{border-radius: 0 3px 3px 0;}
  input{
    width: 45px; height: 30px; padding: 0 5px;
    font-size: 14px; text-align: center;
    border: 1px solid #e4e4e4;
    border-left: none; border-right: none;
    border-radius: 0; box-shadow: none;
    &:focus{outline: none;}
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}
.checkbox{
  position: relative;
  display: flex; align-items: center;
  input{opacity: 0; position: absolute;}
  .checked{width: 18px; height: 18px; border-radius: 3px; margin-right: 15px; border: 1px solid #f57d20;}
  input:checked + span{background: url("#{$img-path}/icon-tick.png") no-repeat center center;}
}
//footer
footer{
  margin-top: 68px;
  background: #fff;
  padding-top: 62px;
  border-top: 3px solid #ee2c3c;
  h4{margin-bottom: 33px; text-transform: uppercase; font-size: 14px; font-weight: 600;}
  .links{
    margin-bottom: 30px;
    >*+*{margin-top: 15px;}
    a{color: #111;}
    a:hover{color: #f57d20;}
  }
  .pay{
    margin: 0 -5px 26px;
    a{display: block; margin: 5px; width: 50px; height: 30px; background: url("#{$img-path}/pay.png") no-repeat 0 0; text-indent: -9999em;}
    .visa{background-position: 0 0;}
    .mastercard{background-position: -60px 0;}
    .discover{background-position: -120px 0;}
    .paypal{background-position: -180px 0;}
  }
  .download{
    margin-top: 16px;
    align-items: center;

    a{display: flex; align-items: center; padding: 10px 0; text-transform: uppercase;}
    .icon{width: 18px; height: 20px; margin-right: 9px;}
    .icon-ios{background-position: -31px -24px;}
    .icon-playstore{background-position: -32px 0;}
  }
  .copyright{
    align-items: center;
    padding: 13px 0;
    margin-top: 54px;
    border-top: 1px solid #e4e4e4;
    p{margin-bottom: 0; text-transform: uppercase;}
  }
}


//uikit
.mb-20{margin-bottom: 20px;}
.pt-20{padding-top: 20px;}
.pb-20{padding-bottom: 20px;}
.pt-30{padding-top: 30px;}
.pb-30{padding-bottom: 30px;}
.mb-15{margin-bottom: 15px;}
a{transition: .25s;}
a:focus{outline: none;}
.flex-nowrap{flex-wrap: nowrap;}
a:hover{color: #f57d20;}
h2.title{font-size: 16px; font-weight: 600;}
h5,h4{font-size: 14px;}
.mt-30{margin-top: 30px;}
.btn_ty3{
  display: flex;
  align-items: center; justify-content: center;
  background: #f57d20;
  border-radius: 4px;
  color: #fff;
  &:hover{background: #df7320; color: #fff;}
}
.btn_ty4{
  border-radius: 4px;
  background: #e4e4e4;
  &:hover{color: #111; background: #c8c8c8;}
}
input[type="text"],input[type="password"]{-webkit-appearance: none;}
select{
  appearance: none;
  position: relative;
  padding-right: 30px;
  background: url("#{$img-path}/icon-arr3.png") no-repeat right center;
  &:focus{outline: none;}
  option{padding: 2px 5px;}
}
.pr{position: relative;}
.container{max-width: 1200px;}
.icon{display: inline-block; background: url("#{$img-path}/icons.png") no-repeat 0 0;}
a:hover{text-decoration: none;}
a{color: #111;}
input:focus{outline: none;}
.viewmore{
  color: #f57d20;
  &:hover{text-decoration: underline;}
}
.btn_viewmore{
  width: 370px;
  max-width: 100%;
  height: 50px;
  margin: 30px auto 0;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  &:hover{background: #f57d20; color: #fff;}
}
button{
  background: none; border: none; cursor: pointer;
  &:focus{outline: none;}
}
.btn_ty1{
  color: #f57d20;
  border: 1px solid #f57d20;
  background: #feecde;
  &:hover{color: #fff; background: #f57d20;}
}
.btn_ty2{
  background: #f57d20; color: #fff;
  &:hover{color: #f57d20; border: 1px solid #f57d20; background: #feecde;}
}
.nav{
  padding: 0; margin: 5px 0;
  &__page{
    margin-right: 16px;
    span{color: #f57d20;}
  }
  &__btn{
    button{
      width: 34px;
      height: 34px;
      margin: 0 1px;
      border-radius: 0 3px 3px 0;
      background: #f2f2f4 url("#{$img-path}/icon-arr.png") no-repeat center center;
      &:hover{background: #f57d20 url("#{$img-path}/icon-arr2.png") no-repeat center center}
    }
    .btn_prev{ transform: rotate(180deg);}
  }
}
.slick-arrow{
  width: 36px; height: 40px; padding: 0;
  background: #fff; border: none;
  display: flex; align-items: center; justify-content: center;
  font-size: 0;
  position: absolute; top: 50%; transform: translateY(-50%);
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
  &::after{
    content: "";
    width: 6px; height: 12px;
    display: block;
    background: url("#{$img-path}/icons.png") no-repeat -12px -150px;
  }
}
.slick-next{
  right: 0;
  &::after{transform: rotate(180deg);}
}
.slick-slide{
  &:focus,a:focus{outline: none;}
}


@media(max-width: 1024px) {
  header{
    &.bg-white{
      padding: 15px 0;
      .space{height: 50px;}
    }
    .cart{margin-left: 25px;}
    .dropdown{
      &.cart{
        .dropdown-content{right: -9px;}
      }
      .dropdown-content{right: -71px;}
    }
  }
  .btHeader{
    .search{margin: 10px 25px 0 80px;}
  }
  .category{max-width: 270px; padding: 15px;}
  .slider-sale{
    width: calc(100% - 280px);
    .slick-track,.slick-list,.slick-slide{height: 100%;}
    img{height: 100%; object-fit: cover;}
  }
  .slider_sale{height: auto;}
  .banner{
    flex-wrap: nowrap;
    a{width: 33.33%; height: auto;}
  }
  .trend{
    .item{padding: 15px;}
  }
  .product{
    .price__old{margin-left: 15px;}
  }
  .product_like{
    .product{
      padding: 10px;
      &__detail{width: calc(100% - 70px); padding: 2px 0 2px 10px;}
    }
  }
  .cart,.favourite,.paycart{
    .type{padding: 0 15px; margin: 0 auto 15px;}
  }
  .cart{
    .cl-1{width: 50%; background: none;}
    .cl-2{width: 15%;}
    .cl-3{width: 15%;}
    .cl-4{width: 15%;}
    .cl-5{width: 5%; text-align: right;}
    .product{
      h3{min-height: auto;}
    }
  }
  .favourite{
    .cl-1{width: 50%;}
    .cl-2{width: 25%;}
    .cl-3{width: 25%;}
  }
  .paycart{
    .cl-1{width: 60%;}
    .cl-2{width: 15%;}
    .cl-3{width: 10%;}
    .cl-4{width: 15%; text-align: right;}
    &__bottom{
      .voucher{padding: 17px 14px;}
    }
    .transport{padding: 15px 14px;}
    .total_pay{padding: 14px 14px;}
  }
  .login,.register{
    .intro,form{max-width: 50%;}
    .intro p{font-size: 18px;}
    form{padding: 20px;}
    .box-btn{
      a{max-width: 48%;}
      >*+*{margin-left: 4%;}
    }
    .btn_submit{width: 150px; height: 40px;}
  }
  .box-order{
    .tab a{padding: 15px;}
  }
  .box-voucher form input{max-width: 60%;}
  .product_related,.search_related{
    h2{margin-right: 30px; font-size: 16px;}
    &_list{width: calc(100% - 193px); margin-left: auto; padding: 0 50px;}
    .slick-arrow{width: 30px;}
    .slick-prev{left: 10px;}
    .slick-next{right: 10px;}
  }
  .product_like{
    .product{
      &__thumb{width: 70px; height: 70px;}
    }
  }
  .product_selling{
    .slick-arrow{top: 50%; width: 30px; height: 30px;}
    .slick-next{right: -10px;}
    .slick-prev{left: -10px;}
  }
  .discount{
    &__item{
      max-width: 98%; padding: 10px 15px;
      .btn_saved,.btn_save{
        height: 26px;
        white-space: nowrap;
        bottom: 10px; right: 10px; top: initial;
        transform: translateY(0);
      }
    }
  }
  .shop{
    &__cre{
      li{margin: 5px 7px;}
      margin: 10px 0 0;
      .icon{margin-right: 10px;}
    }
  }
  .order-process{
    .process{
      width: 100%; justify-content: space-between;
    }
    .process_cancel{
      li{width: 48%;}
    }
  }
}
@media(max-width: 812px) {
  .btHeader{
    .search{max-width: 50%; margin: 10px 25px 0 30px;}
  }
  .category{
    h4{margin-bottom: 15px;}
    &__list{
      >*+*{margin-top: 18px;}
    }
  }
  .slider-sale{max-height: 250px;}
  .sort{
    h5{margin-right: 15px;}
    .btn_sort{padding: 8px 10px; font-size: 13px;}
    select{padding: 8px 30px 8px 10px; font-size: 13px;}
  }
  .product-flashsale{
    .header{padding: 0;}
    .rw2{padding: 8px 15px;}
    .rw1{padding: 10px 15px;}
  }
  .bank_acount{
    padding: 15px;
    .account{
      padding: 15px;
      .not_accuracy,.df{padding: 2px 5px;}
      &__content{max-width: calc(100% - 70px);}
    }
  }
  .product_detail{
    .col-left,.col-right{width: 100%;}
  }
  .notification{
    .post-deal{
      align-items: flex-start;
      .post__thumb{width: 30%;}
      .post__content{width: calc(100% - 30%);}
    }
    .post{
      align-items: flex-start;
      &__content{width: calc(100% - 80px);}
      p{font-size: 13px;}
    }
  }
  .order-process{
    .process::after{width: 87%;}
  }
  .box-order{
    .order__summary{
      padding: 15px 0;
      font-size: 13px;
      p{width: 175px; padding-right: 10px;}
      span{text-align: right;}
      div{max-width: 100%; flex-wrap: nowrap;}
    }
  }
  .support{
    &__content{padding: 15px 15px 40px;}
    &__bottom{padding: 15px;}
  }
}
@media(max-width: 760px) {
  header{
    &.bg-white{
      .txt{max-width: 65%; margin-top: 5px; font-size: 18px;}
      .logo{margin: initial;}
    }
    .notified{
      width: 100%; right: 0; top: 35px;
      box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.15);
      &::after{right: 80%;}
      .close{display: block; position: absolute; right: 10px; top: 10px; color: #000;}
    }
    .box-link{
      width: 300px; height: 100%; display: block;
      background: #e9751b; padding: 30px 20px;
      position: fixed; top: 0; left: -300px; transition: all .25s ease; visibility: hidden; z-index: 99;
      &.show{left: 0; visibility: visible;}
      >*+*{margin: 0 0 10px 0;}
      a{display: block; white-space: normal;}
      .user{justify-content: flex-start;}
    }
    .logo{max-width: 130px; margin: 0 auto 0 15px;}
    .dropdown{
      margin-top: 5px;
      h5{margin: 15px 0 0 15px;}
      .dropdown-content{width: 350px;}
    }
    .dropdown-toggle{
      .icon-favourite,.icon-cart{height: 30px;}
      .icon-favourite{width: 34px;}
      .icon-cart{width: 35px;}
      span{font-size: 11px; width: 26px; height: 16px; line-height: 16px;}
    }
    .product{padding: 15px; margin-bottom: 0 !important;}
    .btn_remove{
      color: #f57d20;
      position: relative; top: 0; right: 0;
      text-align: right;
      width: 100%;
      margin-top: 6px;
    }
    .amount{
      width: 100%;
      display: flex; justify-content: flex-end;
      position: relative; top: 0; right: 0; transform: translateY(0);
    }
    .post p{display: none;}
    .btn_viewcar,.btn_addcar,.btn_view{
      width: 130px; margin-right: 10px;
    }
    .btn_addcar{
     width: 150px;
    }
  }
  .navbar-toggler{
    display: block;
    margin-top: 5px;
    width: 20px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    position: relative;
    span{
      display: block; width: 20px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    span{width: 33px; transform: rotate(45deg);}
    span:after{width: 33px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .topHeader{height: auto;}
  .btHeader{
    padding: 10px 0 20px;
    min-height: 105px;
    .container{align-items: center;}
    .search{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 0;
      top: 60px;
      width: 74%;
      max-width: 100%;
      input{height: 35px;}
      p{display: none;}
    }
    .btn_search{width: 18px; height: 18px; top: 8px;}
  }
  .category{
    max-width: 100%;
    &__list{
      >*+*{margin-top: 15px;}
      a{font-size: 13px;}
    }
  }
  .st1{align-items: flex-start;}
  .slider-sale{
    width: 100%; margin-top: 15px; max-height: initial;
    img{height: auto;}
    .slick-track,.slick-list,.slick-slide{height: auto;}
  }
  .category_pr{
    margin: 30px 0 10px;
    .slick-slide{
      a{padding: 15px 5px;}
      .img{margin-bottom: 10px;}
    }
  }
  .box-product{
    .header{
      padding: 10px;
      time{margin-left: 20px; font-size: 14px;}
    }
    .row{margin: 0 -5px;}
    .col-6,.col-lg-12{padding: 0 5px;}
  }
  .product-flashsale{
    .header{padding: 0;}
  }
  .product-list{
    .product{/*max-width: 270px;*/ margin: 0 auto 20px;}
  }
  .sort{
    h5{width: 100%; margin-bottom: 5px;}
    .btn_sort{margin: 3px;  padding: 6px 7px;}
    select{padding: 6px 30px 5px 7px;}
  }
  .profile{
    &__banner{margin: 20px 0;}
    &__info{margin-bottom: 10px;}
    &__detail{
      .note{padding-left: 0;}
      label{width: 100px;}
    }
  }
  .bank_acount{
    .account{
      &__img{width: 50px; height: 50px; padding: 7px;}
      &__content{
        max-width: calc(100% - 50px);
        h5{font-size: 14px;}
        span,.df{margin-top: 3px; font-size: 11px;}
      }
      &__action{margin-top: 5px;}
      .btn_set_defalt{width: 140px; height: 35px;}
    }
    .btn_add_account{width: 120px; height: 35px; margin-top: 5px;}
  }
  .product{
    h3{font-size: 14px; line-height: 21px;}
  }

  .cart{
    &__header{
      padding: 10px 0;
      .address{max-width: 58%; margin: 5px 0; font-size: 13px;}
    }
    h4{font-size: 18px;}
    .space{height: 40px; margin: 0 15px;}
    &__head{
      padding: 10px 14px;
      > div{padding: 5px 0;}
    }
    .cl-1{width: 100%;}
    .cl-2{width: 30%;}
    .cl-3{width: 30%;}
    .cl-4{width: 30%; padding: 5px 3px;}
    .cl-5{width: 10%;}
  }
  .favourite{
    .cl-1{width: 100%;}
    .cl-2{width: 40%;}
    .cl-3{width: 60%;}
    .btn_buy{
      margin-right: 15px;
      width: 100px;
      height: 35px;
    }
    &__head{
      padding: 10px 14px;
      > div{margin: 5px 0;}
    }
    &__btn{margin: 30px 0 -30px;}
  }
  .paycart{
    .cl-1{width: 100%;}
    .cl-2{width: 33%;}
    .cl-3{width: 33%;}
    .cl-4{width: 33%;}
    .header{
      padding: 8px 14px;
      > div{margin: 5px 0;}
    }
    .transport{
      padding: 15px;
      input,textarea{width: 100%;}
      &__note{width: 100%;}
      &__method{
        width: 100%;
        > div div{margin-right: auto;}
        h5{min-width: 50%; margin-right: auto;}
      }
    }
    .address{
      h4{margin-bottom: 20px;}
      .box-btn{margin: 10px 0 0 -5px; position: relative; right: 0; top: 0;}
    }
    .total_pay{
      p{min-width: 50%;}
    }
    &__bottom{
      .voucher{
        padding: 15px;
        justify-content: space-between;
        p{max-width: 58%;}
      }
    }
  }
  .cart,.favourite,.paycart{
    .item{padding: 14px;}
    .payment{
      margin: 40px 0 -30px;
      label,.voucher{margin: 5px 0;}
      .price{padding-left: 15px;}
      .voucher{
        width: 100%; justify-content: space-between;
        span{margin-left: 20px;}
        p{min-width: auto;}
      }
      .method h5{min-width: auto; margin-right: 15px;}
      &__item{padding: 10px 0;}
    }
    .product{margin-bottom: 15px;}
    .btn_buy_continue{width: auto; margin-bottom: 20px; padding: 0 10px; height: 40px;}
    .btn_pay{max-width: 400px; width: 100%;}
  }
  .login,.register,.modal_password{
    padding: 25px 0;
    margin-bottom: -30px;
    .form-group{padding: 10px 15px 0;}
    .intro{
      margin-bottom: 20px;
      p{font-size: 14px; margin-bottom: 5px;}
      .logo{margin-bottom: 25px;}
    }
    .intro,form{max-width: 100%;}
    .btn_register,.btn_login{font-size: 14px; margin-right: 15px;}
    .btn_send_otp{right: 5px; font-size: 12px;}
  }
  .filter{
    height: 100%;
    position: fixed; left: -100%; top: 0;
    z-index: 9999;
    transition: all .25s ease;
    &__list{height: calc(100% - 50px); overflow: auto;}
    &.show{
      left: 0;
      .toggle-filter{display: none;}
    }
    .toggle-filter{display: block;}
  }

  .notification{
    .post{
      align-items: flex-start;
      &__content{width: calc(100% - 80px);}
    }
  }
  .box-order{
    .order{
      &__header > div{max-width: 50%;}
    }
    .type{padding: 15px;}
    .item{padding: 12px;}
    .total{font-size: 16px;}
    .btn_back{display: block; margin-top: 30px;}
  }
  .product_related,.search_related{
    h2{font-size: 16px; margin-bottom: 5px;}
    &_list{width: 100%; padding: 0 25px;}
    .slick-arrow{width: 25px;}
    .slick-prev{left: -5px;}
    .slick-next{right: -5px;}
  }
  .product_selling{
    &_list{margin: 0 -5px;}
    .product{padding-left: 5px; padding-right: 5px;}
  }
  .product_detail{
    .list_img{
      width: 100%; order: 2;
      .slick-slide{height: auto; padding: 0 2px;}
      img{height: auto; border-width: 1px;}
    }
    .imglarge-product{margin-left: 0; order: 1;}
    .active img{border-width: 1px;}
    .box-share{
      order: 3;
      height: auto; padding: 0 10px;
      > * {margin: 5px 0;}
      h4{width: 20%; margin-bottom: 5px;}
    }
    .slick-arrow{width: 20px; height: 30px; position: absolute; top: 50%; transform: translateY(-50%);}
    .slick-next{
      right: -5px;
      &::after{transform: rotate(-180deg);}
    }
    .slick-prev{
      left: -5px;
      &::after{transform: rotate(0);}
    }
    .col-right{padding: 20px 15px 0 15px;}
  }
  .product_info{
    h2{font-size: 20px; line-height: 32px;}
    .price{padding: 10px;}
    .transport__detail{padding-left: 0;}
    .transport__type{font-size: 12px; margin-top: 5px;}
  }
  .info_detail{
    h4,article{padding: 15px;}
    .table-info{margin: 15px;}
  }
  .comment{
    padding: 15px;
    .avatar{width: 50px; height: 50px;}
    .info{
      width: calc(100% - 50px);
      &__img img{width: 50px; height: 50px; margin: 5px;}
    }
  }
  .profile{
    .search{
      margin-bottom: 10px;
      input{border-radius: 3px; font-size: 13px;}
    }
    &__detail{padding: 15px;}
  }
  .search-txt{margin-top: 15px;}
  .box-voucher{
    .voucher .condition{font-size: 12px; right: 10px; top: initial; transform: translateY(0); bottom: 10px;}
    .tab a{padding: 10px;}
  }
  .voucher-detail{margin-top: 50px;}
  .order-process{
    padding: 10px;
    .process{
      &::after{width: 88%;}
      li{width: 32%;}
      li:last-child p{margin-left: -18px;}
      p{margin-top: 30px; font-size: 13px;}
      .pending{
        &::after{width: 80%; left: -49%;}
      }
    }
    .process_cancel{
      li{width: 48%;}
    }
    .col-left,.col-right{width: 100%;}
  }
  .support{
    &__content{
      margin-top: 30px;
      h2{font-size: 24px;}
    }
    article p{font-size: 16px;}
  }

  //modal
  .box-voucher,.modal_voucher{
    form{
      padding: 15px;
      flex-wrap: nowrap;
      h4{font-size: 14px;}
      input{margin: 0 5px;}
    }
    .voucher{
      &__code{
        width: 100px; height: auto;
        span{font-size: 13px;}
        span:first-child{font-size: 14px;}
      }
      &__content{width: calc(100% - 100px); padding: 5px 30px 5px 5px; font-size: 12px;}
    }
  }
  .modal{
    .modal-header{padding: 15px;}
    .modal-body{padding: 0 15px;}
    .modal-footer{
      margin-top: 15px;
      padding: 15px;
    }
    .checkbox{
      .checked{width: 16px; height: 16px;}
      .checked::after{width: 8px; height: 8px;}
    }
  }
  .modal_voucher{
    .modal-header h4{font-size: 20px;}
  }
  .modal_password .modal-body{padding-bottom: 30px;}

  //uikit
  .pl-m15{padding-left: 15px !important;}
  .amount{
    input{padding-left: 0; width: 40px;}
  }

  footer{
    margin-top: 30px;
    padding-top: 30px;
  }
}

@media(max-width: 360px) {
  header{
    &.bg-white{
      .txt{font-size: 14px;}
    }
    .dropdown{
      .dropdown-content{width: 310px;}
    }
  }
  .cart,.favourite{
    .price{font-size: 12px;}
    .item .cl-2{font-size: 12px;}
  }
  .amount{
    a{width: 22px; height: 28px;}
    input{width: 30px; height: 28px; padding-left: 5px; font-size: 12px;}
  }
  .login,.register,.modal_password{
    form{padding: 15px;}
    .form-group{padding: 10px 10px 0;}
    .btn_register,.btn_login{font-size: 13px; margin-right: 10px;}
    .btn_submit{width: 130px;}
  }
  .modal_password form{padding: 0;}
  .box-voucher,.modal_voucher{
    form{
      flex-wrap: wrap;
      input{margin: 5px 0;}
      h4{width: 100%;}
    }
    .voucher{
      &__code{
        width: 100px; height: auto;
        span{font-size: 13px;}
        span:first-child{font-size: 14px;}
      }
      &__content{width: calc(100% - 100px); padding: 5px 30px 5px 5px; font-size: 12px;}
    }
  }
  .order-process{
    .process{
      width: 100%;
      p{margin-top: 30px; font-size: 12px;}
      li:nth-child(3){width: 60px;}
    }
  }
}


//js animation
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
